Project/node_red/Flow5Kit.json
[
    {
        "id": "e9dc23df8b647648",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67faf60b7b679eb9",
        "type": "inject",
        "z": "e9dc23df8b647648",
        "name": "St4_IsUp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "St4_IsUp",
        "payloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b421b0ef5aef39c2"
            ]
        ]
    },
    {
        "id": "b421b0ef5aef39c2",
        "type": "revpi-getpin",
        "z": "e9dc23df8b647648",
        "server": "881e060a.9b5288",
        "getoverwritevalue": true,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "7c02c9806cd1e3eb"
            ]
        ]
    },
    {
        "id": "7c02c9806cd1e3eb",
        "type": "function",
        "z": "e9dc23df8b647648",
        "name": "SetValue",
        "func": "if(msg.payload == 1){\n    flow.set(\"St4_IsUp\", false)\n}\nelse{\n    flow.set(\"St4_IsUp\", true)\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "e4bf47a18cec9706",
        "type": "inject",
        "z": "e9dc23df8b647648",
        "name": "St4_IsDown",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "St4_IsDown",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "6b7dbcdb25b5063d"
            ]
        ]
    },
    {
        "id": "6b7dbcdb25b5063d",
        "type": "revpi-getpin",
        "z": "e9dc23df8b647648",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "d0b3189c043464eb"
            ]
        ]
    },
    {
        "id": "d0b3189c043464eb",
        "type": "function",
        "z": "e9dc23df8b647648",
        "name": "SetValue",
        "func": "if(msg.payload == 1){\n    flow.set(\"St4_IsUp\", false)\n}\nelse{\n    flow.set(\"St4_IsUp\", true)\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "d76c06ffc3d137be",
        "type": "inject",
        "z": "e9dc23df8b647648",
        "name": "St4_IsUp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "St4_IsUp",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "bd6ee0c314244e2f"
            ]
        ]
    },
    {
        "id": "bd6ee0c314244e2f",
        "type": "revpi-getpin",
        "z": "e9dc23df8b647648",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "34683f756d8f2e7f"
            ]
        ]
    },
    {
        "id": "34683f756d8f2e7f",
        "type": "function",
        "z": "e9dc23df8b647648",
        "name": "SetValue",
        "func": "if(msg.payload == 1){\n    flow.set(\"St4_IsUp\", false)\n}\nelse{\n    flow.set(\"St4_IsUp\", true)\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "d04db61c501b48a0",
        "type": "inject",
        "z": "e9dc23df8b647648",
        "name": "St4_IsUp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "St4_IsUp",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "3d39fc052bb3fbbf"
            ]
        ]
    },
    {
        "id": "3d39fc052bb3fbbf",
        "type": "revpi-getpin",
        "z": "e9dc23df8b647648",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "d55358df3418ba6f"
            ]
        ]
    },
    {
        "id": "d55358df3418ba6f",
        "type": "function",
        "z": "e9dc23df8b647648",
        "name": "SetValue",
        "func": "if(msg.payload == 1){\n    flow.set(\"St4_IsUp\", false)\n}\nelse{\n    flow.set(\"St4_IsUp\", true)\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    }
]