Project/node_red/Kit Nodes/ConveyorBeltKit.json
[
    {
        "id": "e07793e1b4a429a0",
        "type": "tab",
        "label": "Conveyor Belt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fce868dd5c3aade",
        "type": "websocket out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "server": "1427a2a157ac5bfd",
        "client": "",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b8f99de15735f3d",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Debug Conveyor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "934b175d29904765",
        "type": "websocket in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "server": "1427a2a157ac5bfd",
        "client": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4b8f99de15735f3d",
                "1f9d3852a868c2a4",
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "c606221aee10f735",
        "type": "join",
        "z": "e07793e1b4a429a0",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "#TOKEN#",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "6f515c785e1a9d28",
                "8fce868dd5c3aade"
            ]
        ]
    },
    {
        "id": "8cf7f8b77d5907ec",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Source",
        "payloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "c087a2861681cb46",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C1",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "6f515c785e1a9d28",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Conveyor Location",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "cc0b4e33c2f9d015",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C2",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "484422f51fe0ab87",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C3",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "c71e843497143d1a",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C4",
        "payloadType": "str",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "7406708316c36da3",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Storage",
        "payloadType": "str",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "d8cf805b2d1583e2",
        "type": "mqtt in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "conveyor_request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cc503f15afd0d5e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "8fce868dd5c3aade",
                "6f515c785e1a9d28"
            ]
        ]
    },
    {
        "id": "1f9d3852a868c2a4",
        "type": "mqtt out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "conveyor_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cc503f15afd0d5e0",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "90447ed9e6f95e3e",
        "type": "http in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "url": "/conveyor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "0c7a7bafd7149f80",
        "type": "http response",
        "z": "e07793e1b4a429a0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c9ff283a08ae041",
        "type": "function",
        "z": "e07793e1b4a429a0",
        "name": "HTTP Processor",
        "func": "if(msg.payload != \"done\")\n{\n    context.set(\"message\", msg)\n    context.set(\"isHttp\", true)\n    return [null, msg.payload]\n}\nelse if(context.get(\"isHttp\"))\n{\n    var newMsg = context.get(\"message\")\n    newMsg.payload = \"done\"\n    return[newMsg, null]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"isHttp\", false)",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "0c7a7bafd7149f80"
            ],
            [
                "8fce868dd5c3aade",
                "6f515c785e1a9d28"
            ]
        ]
    },
    {
        "id": "b06cd63526734600",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "1f9d3852a868c2a4",
                "4b8f99de15735f3d",
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "6cba354407e9b62b",
        "type": "revpi-multiple-input",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "inputPinList": "I_8_i03",
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "e8b68bd66c37b963"
            ]
        ]
    },
    {
        "id": "0e17d59125a80bc7",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "Move Up",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "e2fa832f35602f84",
                "8c654650c5ed2b9a"
            ]
        ]
    },
    {
        "id": "e2fa832f35602f84",
        "type": "revpi-output",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "outputpin": "O_6_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "57f0557c105fe515",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 1150,
        "y": 60,
        "wires": [
            [
                "e2fa832f35602f84",
                "692257886b4318d8",
                "8c654650c5ed2b9a",
                "1598df24af8df793"
            ]
        ]
    },
    {
        "id": "7b78089f25feebe1",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Up",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e9226b6e6d6f618",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "Move Down",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1430,
        "y": 200,
        "wires": [
            [
                "692257886b4318d8",
                "1598df24af8df793"
            ]
        ]
    },
    {
        "id": "692257886b4318d8",
        "type": "revpi-output",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1890,
        "y": 200,
        "wires": []
    },
    {
        "id": "462cfdd8fd127f3c",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Down",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 320,
        "wires": []
    },
    {
        "id": "1598df24af8df793",
        "type": "trigger",
        "z": "e07793e1b4a429a0",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1500,
        "y": 320,
        "wires": [
            [
                "aa1b65094bf3eca0"
            ]
        ]
    },
    {
        "id": "aa1b65094bf3eca0",
        "type": "revpi-getpin",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 1730,
        "y": 320,
        "wires": [
            [
                "462cfdd8fd127f3c",
                "1598df24af8df793",
                "692257886b4318d8"
            ]
        ]
    },
    {
        "id": "cc1ae8712799e1c9",
        "type": "revpi-getpin",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "7b78089f25feebe1",
                "e2fa832f35602f84",
                "8c654650c5ed2b9a"
            ]
        ]
    },
    {
        "id": "8c654650c5ed2b9a",
        "type": "trigger",
        "z": "e07793e1b4a429a0",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 900,
        "y": 300,
        "wires": [
            [
                "cc1ae8712799e1c9"
            ]
        ]
    },
    {
        "id": "e5987e9f49280e05",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "MoveDown",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1320,
        "y": 540,
        "wires": [
            [
                "7bba43c3fffc85fb"
            ]
        ]
    },
    {
        "id": "5a974977cd5371bd",
        "type": "function",
        "z": "e07793e1b4a429a0",
        "name": "",
        "func": "msg.payload = msg.payload.I_8_i03\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e8b68bd66c37b963",
        "type": "rbe",
        "z": "e07793e1b4a429a0",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1470,
        "y": 620,
        "wires": [
            [
                "5a974977cd5371bd"
            ]
        ]
    },
    {
        "id": "7bba43c3fffc85fb",
        "type": "revpi-output",
        "z": "e07793e1b4a429a0",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1770,
        "y": 540,
        "wires": []
    },
    {
        "id": "1427a2a157ac5bfd",
        "type": "websocket-listener",
        "path": "/conveyor",
        "wholemsg": "false"
    },
    {
        "id": "cc503f15afd0d5e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.207",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    }
]