Project/node_red/Kit Nodes/Conveyor Controller.json
[
    {
        "id": "61ed63e881cb1be8",
        "type": "subflow",
        "name": "Conveyor_Controller",
        "info": "This node takes a msg object in the format:\r\n\r\n{\r\n    Destiny: String,\r\n    C1: int,\r\n    C2: int,\r\n    C3: int,\r\n    C4: int\r\n}\r\n\r\nThe value of Destiny corresponds to the conveyor belt where the product needs to stop, i.e. if the product has to stop at the conveyor belt number 3, the value of Destiny will be C3.\r\n\r\nC1 through C4 correspond to the orientation of the conveyors, if the value provided is 1, that conveyor will move to the right, -1 will move it to the left and 0 will stop it.",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "b8c227ebf2045ec0"
                    },
                    {
                        "id": "da36b93b20386b74"
                    },
                    {
                        "id": "49ed0b0ef4800f91"
                    },
                    {
                        "id": "cd64d0434d08e97a"
                    },
                    {
                        "id": "4740db841305a65f"
                    },
                    {
                        "id": "6393c103891d8375"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 300,
                "wires": [
                    {
                        "id": "6b20d8ba7c71a821",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "author": "David Ferreira <dro.ferreira@fct.unl.pt>"
        },
        "color": "#DDAA99"
    },
    {
        "id": "da36b93b20386b74",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C1",
        "func": "// Right\nif(msg.C1 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C1 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "0c63e2cac348db8a"
            ],
            [
                "a3ffdea015084793"
            ]
        ]
    },
    {
        "id": "49ed0b0ef4800f91",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C2",
        "func": "// Right\nif(msg.C2 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C2 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "b31e02d5d48d5e95"
            ],
            [
                "3665252a5a1fa28e"
            ]
        ]
    },
    {
        "id": "cd64d0434d08e97a",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C3",
        "func": "// Right\nif(msg.C3 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C3 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "d41c39d02efb03f6"
            ],
            [
                "2717cf72a2206f80"
            ]
        ]
    },
    {
        "id": "4740db841305a65f",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C4",
        "func": "// Right\nif(msg.C4 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C4 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 380,
        "wires": [
            [
                "cdba3f9625c4a645"
            ],
            [
                "edc17beb38904abc"
            ]
        ]
    },
    {
        "id": "0c63e2cac348db8a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "a3ffdea015084793",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "d41c39d02efb03f6",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "2717cf72a2206f80",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "b31e02d5d48d5e95",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "3665252a5a1fa28e",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdba3f9625c4a645",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "edc17beb38904abc",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "b8c227ebf2045ec0",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C1",
                "fromt": "str",
                "to": "I_6_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C2",
                "fromt": "str",
                "to": "I_4_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C3",
                "fromt": "str",
                "to": "I_2_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C4",
                "fromt": "str",
                "to": "I_13_i03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "4e216786581ed0c8"
            ]
        ]
    },
    {
        "id": "0e1684b7a5207a5c",
        "type": "revpi-multiple-input",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "inputPinList": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "inputpin": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "topic": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "0fd0de7d6207941b"
            ]
        ]
    },
    {
        "id": "4e216786581ed0c8",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "function 6",
        "func": "// Register Destiny conveyor\nif(\"destiny\" in msg){\n    context.set(\"Destiny\", msg.destiny)\n    context.set(\"Topic\", msg.topic)\n}\n\n// As soon as Destiny conveyor detects an object, stop all\nvar destiny = context.get(\"Destiny\")\n\nif (destiny != undefined){\n    if(msg[destiny] == 1){\n        \n        context.set(\"Destiny\", undefined)\n        var newMsg = flow.get(\"message\")\n        newMsg.payload = 0\n        return newMsg\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Destiny\", undefined)",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b541ed1076615e40",
                "fbb9f0835c207c9a",
                "216848878e9d4d98",
                "87fb77a922cfe6eb",
                "4657c6e401e01857",
                "87211e2b37db6269",
                "547b6a306949107a",
                "9e49fb82fe16d5db",
                "6b20d8ba7c71a821"
            ]
        ]
    },
    {
        "id": "b541ed1076615e40",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "fbb9f0835c207c9a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "4657c6e401e01857",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "87211e2b37db6269",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "216848878e9d4d98",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "87fb77a922cfe6eb",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "547b6a306949107a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e49fb82fe16d5db",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b20d8ba7c71a821",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0fd0de7d6207941b",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.I_2_i03",
                "pt": "msg",
                "to": "I_2_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_4_i03",
                "pt": "msg",
                "to": "I_4_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_6_i03",
                "pt": "msg",
                "to": "I_6_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_13_i03",
                "pt": "msg",
                "to": "I_13_i03",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "4e216786581ed0c8"
            ]
        ]
    },
    {
        "id": "6393c103891d8375",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "Save Message",
        "func": "flow.set(\"message\", msg)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    }
]