Project/node_red/Kit Nodes/High Level Controller.json
[
    {
        "id": "c5e04bd2e4e7e6b6",
        "type": "subflow",
        "name": "Station4_Controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "b314725f9decdb46"
                    },
                    {
                        "id": "229ec7441e5293bc"
                    },
                    {
                        "id": "04e7b0ed7d97915d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2460,
                "y": 220,
                "wires": [
                    {
                        "id": "2b739f63041ef0bf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dfb34360e1082350",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_6_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 180,
        "wires": []
    },
    {
        "id": "ee79f25fd5c2e8af",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 100,
        "wires": [
            [
                "2b3b02be26376411"
            ]
        ]
    },
    {
        "id": "2b3b02be26376411",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 100,
        "wires": []
    },
    {
        "id": "e6701fa572c5ae25",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 40,
        "wires": [
            [
                "78ba6f9f2e5c7262"
            ]
        ]
    },
    {
        "id": "37972c0e97a302e4",
        "type": "comment",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Move Station Up",
        "info": "",
        "x": 1440,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca6abb06d6ad2450",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 260,
        "wires": []
    },
    {
        "id": "6eaa0be0ca80d164",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "267b574214e5ac2a"
            ]
        ]
    },
    {
        "id": "267b574214e5ac2a",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 320,
        "wires": []
    },
    {
        "id": "ac6a9b9b445f8589",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 380,
        "wires": [
            [
                "4e685ebdbdcfc9ea"
            ]
        ]
    },
    {
        "id": "78ba6f9f2e5c7262",
        "type": "delay",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 40,
        "wires": [
            [
                "2b739f63041ef0bf"
            ]
        ]
    },
    {
        "id": "4e685ebdbdcfc9ea",
        "type": "delay",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 380,
        "wires": [
            [
                "2b739f63041ef0bf"
            ]
        ]
    },
    {
        "id": "2b739f63041ef0bf",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "96d79c7fe5e7c16d",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_5_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1430,
        "y": 180,
        "wires": []
    },
    {
        "id": "b10e76977ea75f66",
        "type": "delay",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "af757e2c26c2ac9d"
            ]
        ]
    },
    {
        "id": "af757e2c26c2ac9d",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "96d79c7fe5e7c16d",
                "08507f02673dc658"
            ]
        ]
    },
    {
        "id": "08507f02673dc658",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Finished",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "done",
        "output": "str",
        "x": 1440,
        "y": 220,
        "wires": [
            [
                "94dfe9113c935ce1",
                "d24aa2b247463b4a"
            ]
        ]
    },
    {
        "id": "49d60e9a8d9d3c64",
        "type": "trigger",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 100,
        "wires": [
            [
                "1ff70625fb594c0c"
            ]
        ]
    },
    {
        "id": "94dfe9113c935ce1",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "49d60e9a8d9d3c64",
                "dfb34360e1082350",
                "ee79f25fd5c2e8af",
                "e6701fa572c5ae25"
            ]
        ]
    },
    {
        "id": "1ff70625fb594c0c",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 1670,
        "y": 100,
        "wires": [
            [
                "49d60e9a8d9d3c64",
                "dfb34360e1082350",
                "e6701fa572c5ae25"
            ]
        ]
    },
    {
        "id": "ad200bdd4c83fc66",
        "type": "comment",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Station Action",
        "info": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "a74d615fd6a30ebe",
        "type": "trigger",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "57314df4d23addeb"
            ]
        ]
    },
    {
        "id": "d24aa2b247463b4a",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_12_i03",
        "topic": "",
        "x": 1670,
        "y": 260,
        "wires": [
            [
                "a74d615fd6a30ebe",
                "ca6abb06d6ad2450",
                "6eaa0be0ca80d164",
                "ac6a9b9b445f8589"
            ]
        ]
    },
    {
        "id": "57314df4d23addeb",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_12_i03",
        "topic": "",
        "x": 1670,
        "y": 340,
        "wires": [
            [
                "a74d615fd6a30ebe",
                "ca6abb06d6ad2450",
                "ac6a9b9b445f8589"
            ]
        ]
    },
    {
        "id": "0b4e9d9eb7f75920",
        "type": "comment",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Move Station Back",
        "info": "",
        "x": 1450,
        "y": 380,
        "wires": []
    },
    {
        "id": "bb1f1d1791b175b7",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "96d79c7fe5e7c16d",
                "b10e76977ea75f66"
            ]
        ]
    },
    {
        "id": "81085eefa4a38f28",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "42f8d822033a7432",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "25a0803e6279fc74"
            ]
        ]
    },
    {
        "id": "25a0803e6279fc74",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_6_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "86a4837cba0a4aba",
        "type": "trigger",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "88d3e1aa894cb202"
            ]
        ]
    },
    {
        "id": "229ec7441e5293bc",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "81085eefa4a38f28",
                "42f8d822033a7432",
                "86a4837cba0a4aba",
                "4dc11b9dfb750b4a"
            ]
        ]
    },
    {
        "id": "88d3e1aa894cb202",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "81085eefa4a38f28",
                "86a4837cba0a4aba",
                "4dc11b9dfb750b4a"
            ]
        ]
    },
    {
        "id": "cfc923c7e82e0b53",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "085c5d7c9d0b8c89",
        "type": "template",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "8bbd704355ec93d9"
            ]
        ]
    },
    {
        "id": "8bbd704355ec93d9",
        "type": "revpi-output",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5454f6ce6645015",
        "type": "trigger",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "783f5a2595f523c8"
            ]
        ]
    },
    {
        "id": "b314725f9decdb46",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_14_i03",
        "topic": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "cfc923c7e82e0b53",
                "085c5d7c9d0b8c89",
                "d5454f6ce6645015",
                "33f9ef36e4573475"
            ]
        ]
    },
    {
        "id": "783f5a2595f523c8",
        "type": "revpi-getpin",
        "z": "c5e04bd2e4e7e6b6",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_14_i03",
        "topic": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "cfc923c7e82e0b53",
                "d5454f6ce6645015",
                "33f9ef36e4573475"
            ]
        ]
    },
    {
        "id": "33f9ef36e4573475",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "b16b1fc363ad8791"
            ]
        ]
    },
    {
        "id": "fc40a51cc0c3e627",
        "type": "comment",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Move Station Front",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "792c5377bb0577b0",
        "type": "comment",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Move Station Down",
        "info": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd95173f872b30ee",
        "type": "delay",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "bb1f1d1791b175b7"
            ]
        ]
    },
    {
        "id": "b16b1fc363ad8791",
        "type": "delay",
        "z": "c5e04bd2e4e7e6b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "bb1f1d1791b175b7"
            ]
        ]
    },
    {
        "id": "4dc11b9dfb750b4a",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "fd95173f872b30ee"
            ]
        ]
    },
    {
        "id": "04e7b0ed7d97915d",
        "type": "function",
        "z": "c5e04bd2e4e7e6b6",
        "name": "Save Message",
        "func": "flow.set(\"message\", msg)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "370f1e79e3b33b34",
        "type": "subflow",
        "name": "Station3_Controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "8dc25c6b8bf2d320"
                    },
                    {
                        "id": "fc76e1a3411a5b46"
                    },
                    {
                        "id": "10d2269ddf43d9c6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2460,
                "y": 220,
                "wires": [
                    {
                        "id": "c7327cf8c3c4f563",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5ae6230b4c6cc621",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 180,
        "wires": []
    },
    {
        "id": "f3ef14b928290869",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 100,
        "wires": [
            [
                "1afb34a20ce5cc78"
            ]
        ]
    },
    {
        "id": "1afb34a20ce5cc78",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 100,
        "wires": []
    },
    {
        "id": "cf8620cd8d0ba412",
        "type": "delay",
        "z": "370f1e79e3b33b34",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "b71e2dd0449d46f7"
            ]
        ]
    },
    {
        "id": "b71e2dd0449d46f7",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "e09d633bf11dc29a",
                "a5a7d6861356d66c"
            ]
        ]
    },
    {
        "id": "e09d633bf11dc29a",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Finished",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "done",
        "output": "str",
        "x": 1440,
        "y": 220,
        "wires": [
            [
                "86ae60f66542f4a1",
                "e6558071b0b6921c"
            ]
        ]
    },
    {
        "id": "fc405bd905f6a5df",
        "type": "trigger",
        "z": "370f1e79e3b33b34",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 100,
        "wires": [
            [
                "dbc064c545bfbb3e"
            ]
        ]
    },
    {
        "id": "86ae60f66542f4a1",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "fc405bd905f6a5df",
                "5ae6230b4c6cc621",
                "f3ef14b928290869",
                "21ac75c9bdb87368"
            ]
        ]
    },
    {
        "id": "dbc064c545bfbb3e",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 1670,
        "y": 100,
        "wires": [
            [
                "fc405bd905f6a5df",
                "5ae6230b4c6cc621",
                "21ac75c9bdb87368"
            ]
        ]
    },
    {
        "id": "c23f6bc2aaa2ffe4",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "a1a46db599aea211"
            ]
        ]
    },
    {
        "id": "3efe052ac14b5888",
        "type": "trigger",
        "z": "370f1e79e3b33b34",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "e41015156097f6d1"
            ]
        ]
    },
    {
        "id": "b6ab2a35f63281a2",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "b5470170d6d36e84"
            ]
        ]
    },
    {
        "id": "ab4dd58107edac11",
        "type": "trigger",
        "z": "370f1e79e3b33b34",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "d4d8dc6430c7ad63"
            ]
        ]
    },
    {
        "id": "1f842490311cdfed",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "4901beae5d9d9c6a"
            ]
        ]
    },
    {
        "id": "21ac75c9bdb87368",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 40,
        "wires": [
            [
                "cb29f908b2c794d0"
            ]
        ]
    },
    {
        "id": "ca7b49318b15981e",
        "type": "comment",
        "z": "370f1e79e3b33b34",
        "name": "Move Station Front",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "e833433c5f1ca021",
        "type": "comment",
        "z": "370f1e79e3b33b34",
        "name": "Move Station Down",
        "info": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "8877e2e4240c4c9b",
        "type": "comment",
        "z": "370f1e79e3b33b34",
        "name": "Station Action",
        "info": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "0fdb33f544a8ade9",
        "type": "comment",
        "z": "370f1e79e3b33b34",
        "name": "Move Station Up",
        "info": "",
        "x": 1440,
        "y": 60,
        "wires": []
    },
    {
        "id": "74ad2f714494e43b",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2e30c3bf18f2076",
        "type": "template",
        "z": "370f1e79e3b33b34",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "30c291383dc1a28f"
            ]
        ]
    },
    {
        "id": "30c291383dc1a28f",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 320,
        "wires": []
    },
    {
        "id": "4fd2bf7a23474b68",
        "type": "trigger",
        "z": "370f1e79e3b33b34",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "c51f508358d1c42f"
            ]
        ]
    },
    {
        "id": "e6558071b0b6921c",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 1670,
        "y": 260,
        "wires": [
            [
                "74ad2f714494e43b",
                "b2e30c3bf18f2076",
                "4fd2bf7a23474b68",
                "43c60b480256b319"
            ]
        ]
    },
    {
        "id": "c51f508358d1c42f",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 1670,
        "y": 340,
        "wires": [
            [
                "74ad2f714494e43b",
                "4fd2bf7a23474b68",
                "43c60b480256b319"
            ]
        ]
    },
    {
        "id": "43c60b480256b319",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 380,
        "wires": [
            [
                "4db8715867072ee2"
            ]
        ]
    },
    {
        "id": "f4ca5d13e5ae7705",
        "type": "comment",
        "z": "370f1e79e3b33b34",
        "name": "Move Station Back",
        "info": "",
        "x": 1450,
        "y": 380,
        "wires": []
    },
    {
        "id": "dec5b6b3bbde1d6c",
        "type": "delay",
        "z": "370f1e79e3b33b34",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "36d29fd3706f41aa"
            ]
        ]
    },
    {
        "id": "cb29f908b2c794d0",
        "type": "delay",
        "z": "370f1e79e3b33b34",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 40,
        "wires": [
            [
                "c7327cf8c3c4f563"
            ]
        ]
    },
    {
        "id": "4db8715867072ee2",
        "type": "delay",
        "z": "370f1e79e3b33b34",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 380,
        "wires": [
            [
                "c7327cf8c3c4f563"
            ]
        ]
    },
    {
        "id": "4901beae5d9d9c6a",
        "type": "delay",
        "z": "370f1e79e3b33b34",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "36d29fd3706f41aa"
            ]
        ]
    },
    {
        "id": "334936452814bc00",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "dec5b6b3bbde1d6c"
            ]
        ]
    },
    {
        "id": "36d29fd3706f41aa",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "cf8620cd8d0ba412",
                "a5a7d6861356d66c"
            ]
        ]
    },
    {
        "id": "c7327cf8c3c4f563",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a5a7d6861356d66c",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1430,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4d8dc6430c7ad63",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "ab4dd58107edac11",
                "1f842490311cdfed",
                "a64921ba156eec4f"
            ]
        ]
    },
    {
        "id": "a64921ba156eec4f",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "b5470170d6d36e84",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "e41015156097f6d1",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "334936452814bc00",
                "3efe052ac14b5888",
                "89a47fc2bd89b974"
            ]
        ]
    },
    {
        "id": "8dc25c6b8bf2d320",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "ab4dd58107edac11",
                "1f842490311cdfed",
                "b6ab2a35f63281a2",
                "a64921ba156eec4f"
            ]
        ]
    },
    {
        "id": "fc76e1a3411a5b46",
        "type": "revpi-getpin",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "3efe052ac14b5888",
                "c23f6bc2aaa2ffe4",
                "334936452814bc00",
                "89a47fc2bd89b974"
            ]
        ]
    },
    {
        "id": "89a47fc2bd89b974",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "a1a46db599aea211",
        "type": "revpi-output",
        "z": "370f1e79e3b33b34",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "10d2269ddf43d9c6",
        "type": "function",
        "z": "370f1e79e3b33b34",
        "name": "Save Message",
        "func": "flow.set(\"message\", msg)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "72d2e4d12d085135",
        "type": "subflow",
        "name": "Conveyor_Controller",
        "info": "This node takes a msg object in the format:\r\n\r\n{\r\n    Destiny: String,\r\n    C1: int,\r\n    C2: int,\r\n    C3: int,\r\n    C4: int\r\n}\r\n\r\nThe value of Destiny corresponds to the conveyor belt where the product needs to stop, i.e. if the product has to stop at the conveyor belt number 3, the value of Destiny will be C3.\r\n\r\nC1 through C4 correspond to the orientation of the conveyors, if the value provided is 1, that conveyor will move to the right, -1 will move it to the left and 0 will stop it.",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "23fb61eddd351357"
                    },
                    {
                        "id": "ee256bb284a124ce"
                    },
                    {
                        "id": "fd283006d878f2c6"
                    },
                    {
                        "id": "c2a83903a49399d9"
                    },
                    {
                        "id": "c8f6d6773d2bec47"
                    },
                    {
                        "id": "9092d824be0b29ab"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 970,
                "y": 300,
                "wires": [
                    {
                        "id": "9e507d1fa5d9112e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "author": "David Ferreira <dro.ferreira@fct.unl.pt>"
        },
        "color": "#DDAA99"
    },
    {
        "id": "ee256bb284a124ce",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "C1",
        "func": "// Right\nif(msg.C1 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C1 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 60,
        "wires": [
            [
                "bbe9387a37e02f80"
            ],
            [
                "0454755fc77e9d6f"
            ]
        ]
    },
    {
        "id": "fd283006d878f2c6",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "C2",
        "func": "// Right\nif(msg.C2 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C2 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 160,
        "wires": [
            [
                "19b8ae7de12d7eb4"
            ],
            [
                "7a223e98256fc574"
            ]
        ]
    },
    {
        "id": "c2a83903a49399d9",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "C3",
        "func": "// Right\nif(msg.C3 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C3 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 280,
        "wires": [
            [
                "52e46d26a0dc44e7"
            ],
            [
                "a67c8cc559c0d336"
            ]
        ]
    },
    {
        "id": "c8f6d6773d2bec47",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "C4",
        "func": "// Right\nif(msg.C4 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C4 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 380,
        "wires": [
            [
                "aba1c6490da1b586"
            ],
            [
                "5d11238cead4a05e"
            ]
        ]
    },
    {
        "id": "bbe9387a37e02f80",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "0454755fc77e9d6f",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "52e46d26a0dc44e7",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "a67c8cc559c0d336",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "19b8ae7de12d7eb4",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a223e98256fc574",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "aba1c6490da1b586",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "5d11238cead4a05e",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "23fb61eddd351357",
        "type": "change",
        "z": "72d2e4d12d085135",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C1",
                "fromt": "str",
                "to": "I_6_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C2",
                "fromt": "str",
                "to": "I_4_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C3",
                "fromt": "str",
                "to": "I_2_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C4",
                "fromt": "str",
                "to": "I_13_i03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "0e3ac9ca8ce9ed2c"
            ]
        ]
    },
    {
        "id": "3f4099abcc5f53f3",
        "type": "revpi-multiple-input",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "inputPinList": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "inputpin": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "topic": "",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "3a89b203705e57da"
            ]
        ]
    },
    {
        "id": "0e3ac9ca8ce9ed2c",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "Load Message",
        "func": "// Register Destiny conveyor\nif(\"destiny\" in msg){\n    context.set(\"Destiny\", msg.destiny)\n    context.set(\"Topic\", msg.topic)\n}\n\n// As soon as Destiny conveyor detects an object, stop all\nvar destiny = context.get(\"Destiny\")\n\nif (destiny != undefined){\n    if(msg[destiny] == 1){\n        \n        context.set(\"Destiny\", undefined)\n        var newMsg = flow.get(\"message\")\n        newMsg.payload = 0\n        return newMsg\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Destiny\", undefined)",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "f3b4eae1f2b8bb5e",
                "312f6f63485f4580",
                "6efd02a638c92f59",
                "b1a269b0a92a99b2",
                "33fc6d22469a1d04",
                "68c0fe9c9a4e6226",
                "484c10d0cf6684b0",
                "8835a8e5e0faba62",
                "9e507d1fa5d9112e"
            ]
        ]
    },
    {
        "id": "f3b4eae1f2b8bb5e",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "312f6f63485f4580",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "33fc6d22469a1d04",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "68c0fe9c9a4e6226",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "6efd02a638c92f59",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "b1a269b0a92a99b2",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "484c10d0cf6684b0",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "8835a8e5e0faba62",
        "type": "revpi-output",
        "z": "72d2e4d12d085135",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "9e507d1fa5d9112e",
        "type": "change",
        "z": "72d2e4d12d085135",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3a89b203705e57da",
        "type": "change",
        "z": "72d2e4d12d085135",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.I_2_i03",
                "pt": "msg",
                "to": "I_2_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_4_i03",
                "pt": "msg",
                "to": "I_4_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_6_i03",
                "pt": "msg",
                "to": "I_6_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_13_i03",
                "pt": "msg",
                "to": "I_13_i03",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "0e3ac9ca8ce9ed2c"
            ]
        ]
    },
    {
        "id": "9092d824be0b29ab",
        "type": "function",
        "z": "72d2e4d12d085135",
        "name": "Save Message",
        "func": "flow.set(\"message\", msg)",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": []
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    },
    {
        "id": "78f1a082da935963",
        "type": "tab",
        "label": "High Level Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c30df06a43338afd",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Conveyor Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "bf2a1dcb21f17f30",
        "type": "join",
        "z": "78f1a082da935963",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "#TOKEN#",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "e199034e0397fe7b"
            ]
        ]
    },
    {
        "id": "5fa5d6befde27d94",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Source",
        "payloadType": "str",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "3b67891836125dad",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C1",
        "payloadType": "str",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "ac6a893d9b9e866e",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Conveyor Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "1b1d98d7900bb754",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C2",
        "payloadType": "str",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "db7bd7d4f7cec6d0",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C3",
        "payloadType": "str",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "441539ed1cbfc706",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C4",
        "payloadType": "str",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "88361acd45a1bee7",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Storage",
        "payloadType": "str",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "bf2a1dcb21f17f30"
            ]
        ]
    },
    {
        "id": "eba5d34c1ac54bda",
        "type": "mqtt in",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "conveyor_request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "86b61d214e3d3c8d"
            ]
        ]
    },
    {
        "id": "eab4d48c8c8f08be",
        "type": "mqtt out",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "conveyor_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 1600,
        "y": 480,
        "wires": []
    },
    {
        "id": "6aeb4b3898a5524d",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "518d7f3b92b1d81f"
            ]
        ]
    },
    {
        "id": "8a2f53e5279acdbc",
        "type": "function",
        "z": "78f1a082da935963",
        "name": "Filter",
        "func": "var message = msg.payload\nif(message.includes(\"#TOKEN#\")){\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "f3c1cbb5c07f8ffe"
            ]
        ]
    },
    {
        "id": "f79498817102fcac",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Skill_A",
        "payloadType": "str",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "20578f01584214ec"
            ]
        ]
    },
    {
        "id": "0daa825656e305ba",
        "type": "mqtt in",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "station_3_request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "ceb1e9bafd82840b"
            ]
        ]
    },
    {
        "id": "a3a88d9c90943550",
        "type": "http in",
        "z": "78f1a082da935963",
        "name": "",
        "url": "/station_3",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 800,
        "wires": [
            [
                "567a83a3b28a64f3"
            ]
        ]
    },
    {
        "id": "742b573a797a3b91",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 3 Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 860,
        "wires": []
    },
    {
        "id": "0d885e8fa61eabe5",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "2ff8e07408ab063c"
            ]
        ]
    },
    {
        "id": "0f7fb316fc62787c",
        "type": "function",
        "z": "78f1a082da935963",
        "name": "Filter",
        "func": "if(msg.payload == \"Skill_A\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 860,
        "wires": [
            [
                "5e1863732565705c"
            ]
        ]
    },
    {
        "id": "71bafc5c273767a9",
        "type": "http in",
        "z": "78f1a082da935963",
        "name": "",
        "url": "/conveyor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "e99180eb501acfaf"
            ]
        ]
    },
    {
        "id": "2387c825a75f6ad0",
        "type": "http response",
        "z": "78f1a082da935963",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1550,
        "y": 540,
        "wires": []
    },
    {
        "id": "e6940c0f4f77ac3a",
        "type": "switch",
        "z": "78f1a082da935963",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mqtt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "http",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "opcua",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1390,
        "y": 540,
        "wires": [
            [
                "eab4d48c8c8f08be",
                "a0133fc510b6392d"
            ],
            [
                "2387c825a75f6ad0",
                "fca8b52d675a544f"
            ],
            [
                "dd5d0d3ead013e5d",
                "d18f7940d6d14e88"
            ]
        ]
    },
    {
        "id": "e199034e0397fe7b",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 540,
        "wires": [
            [
                "ac6a893d9b9e866e",
                "6ead4c5912286c49"
            ]
        ]
    },
    {
        "id": "86b61d214e3d3c8d",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "ac6a893d9b9e866e",
                "6ead4c5912286c49"
            ]
        ]
    },
    {
        "id": "0c29a28aaeef52a0",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "http",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "ac6a893d9b9e866e",
                "6ead4c5912286c49"
            ]
        ]
    },
    {
        "id": "a0133fc510b6392d",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Conveyor MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 440,
        "wires": []
    },
    {
        "id": "fca8b52d675a544f",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Conveyor HTTP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd5d0d3ead013e5d",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Conveyor OPCUA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 640,
        "wires": []
    },
    {
        "id": "20578f01584214ec",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "9e5507d226f31292"
            ]
        ]
    },
    {
        "id": "322f045f56732a41",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 3 Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 880,
        "wires": []
    },
    {
        "id": "bf6aa75321d95870",
        "type": "mqtt out",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "station_3_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 1600,
        "y": 880,
        "wires": []
    },
    {
        "id": "5a104c9a4e5e9a42",
        "type": "http response",
        "z": "78f1a082da935963",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1550,
        "y": 940,
        "wires": []
    },
    {
        "id": "b77f0861b99c1e97",
        "type": "switch",
        "z": "78f1a082da935963",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mqtt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "http",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "opcua",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1390,
        "y": 940,
        "wires": [
            [
                "bf6aa75321d95870",
                "9d4734b3beb99953"
            ],
            [
                "5a104c9a4e5e9a42",
                "b384b3ca0f7986c9"
            ],
            [
                "f451916761b4ed19",
                "ad8e86e1c2cf81fe"
            ]
        ]
    },
    {
        "id": "9d4734b3beb99953",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 3 MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 840,
        "wires": []
    },
    {
        "id": "b384b3ca0f7986c9",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 3 HTTP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 940,
        "wires": []
    },
    {
        "id": "f451916761b4ed19",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 3 OPCUA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f3c1cbb5c07f8ffe",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "opcua",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "ac6a893d9b9e866e",
                "6ead4c5912286c49"
            ]
        ]
    },
    {
        "id": "5e1863732565705c",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "opcua",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 860,
        "wires": [
            [
                "742b573a797a3b91",
                "9e5507d226f31292"
            ]
        ]
    },
    {
        "id": "ceb1e9bafd82840b",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "742b573a797a3b91",
                "9e5507d226f31292"
            ]
        ]
    },
    {
        "id": "70bb6048f849e29c",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "742b573a797a3b91",
                "9e5507d226f31292"
            ]
        ]
    },
    {
        "id": "ab7161cd83379f24",
        "type": "mqtt in",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "station_4_request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "406dd59b86bc30e3"
            ]
        ]
    },
    {
        "id": "9099464dd2032f07",
        "type": "http in",
        "z": "78f1a082da935963",
        "name": "",
        "url": "/station_4",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "058eef1d850e0ece"
            ]
        ]
    },
    {
        "id": "b8c0aad2d842e6a8",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 4 Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1240,
        "wires": []
    },
    {
        "id": "64c71466a310d24e",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "c32cc07c66c50f1e"
            ]
        ]
    },
    {
        "id": "6c97ee62bcc6d97b",
        "type": "function",
        "z": "78f1a082da935963",
        "name": "Filter",
        "func": "if(msg.payload == \"Skill_B\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1240,
        "wires": [
            [
                "a1e8692eafbd51f3"
            ]
        ]
    },
    {
        "id": "7019a8819ce4ae60",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1320,
        "wires": [
            [
                "ad9cbcbc21ccb457"
            ]
        ]
    },
    {
        "id": "177e52a5e2306c85",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 4 Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1260,
        "wires": []
    },
    {
        "id": "377cb7f91aa8da9a",
        "type": "mqtt out",
        "z": "78f1a082da935963",
        "name": "",
        "topic": "station_4_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 1600,
        "y": 1260,
        "wires": []
    },
    {
        "id": "38324ca2f9c8cd95",
        "type": "http response",
        "z": "78f1a082da935963",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "0a7357fb18234de6",
        "type": "switch",
        "z": "78f1a082da935963",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mqtt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "http",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "opcua",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1390,
        "y": 1320,
        "wires": [
            [
                "377cb7f91aa8da9a",
                "9fb16042b340936b"
            ],
            [
                "38324ca2f9c8cd95",
                "a648807f57ee55cd"
            ],
            [
                "33b8ff6768171397",
                "0e93e94885d09d50"
            ]
        ]
    },
    {
        "id": "9fb16042b340936b",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 4 MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a648807f57ee55cd",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 4 HTTP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1320,
        "wires": []
    },
    {
        "id": "33b8ff6768171397",
        "type": "debug",
        "z": "78f1a082da935963",
        "name": "Station 4 OPCUA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1420,
        "wires": []
    },
    {
        "id": "a1e8692eafbd51f3",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "opcua",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1240,
        "wires": [
            [
                "b8c0aad2d842e6a8",
                "ad9cbcbc21ccb457"
            ]
        ]
    },
    {
        "id": "406dd59b86bc30e3",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mqtt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "b8c0aad2d842e6a8",
                "ad9cbcbc21ccb457"
            ]
        ]
    },
    {
        "id": "0b26943d0c4ed049",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "b8c0aad2d842e6a8",
                "ad9cbcbc21ccb457"
            ]
        ]
    },
    {
        "id": "d29eebd45bb5ede7",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Skill_B",
        "payloadType": "str",
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "7019a8819ce4ae60"
            ]
        ]
    },
    {
        "id": "f1aa7aedcaddb0cd",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqtt",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 600,
        "wires": [
            [
                "e6940c0f4f77ac3a"
            ]
        ]
    },
    {
        "id": "4fa0dc1b7da6c3b8",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "http",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 640,
        "wires": [
            [
                "e6940c0f4f77ac3a"
            ]
        ]
    },
    {
        "id": "232d7a54eaf03656",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqtt",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 1000,
        "wires": [
            [
                "b77f0861b99c1e97"
            ]
        ]
    },
    {
        "id": "970b6afd86754980",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "http",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 1040,
        "wires": [
            [
                "b77f0861b99c1e97"
            ]
        ]
    },
    {
        "id": "c073996a0f8d6e82",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqtt",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 1380,
        "wires": [
            [
                "0a7357fb18234de6"
            ]
        ]
    },
    {
        "id": "68584783bde58b2f",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "http",
        "payload": "done",
        "payloadType": "str",
        "x": 1160,
        "y": 1420,
        "wires": [
            [
                "0a7357fb18234de6"
            ]
        ]
    },
    {
        "id": "e99180eb501acfaf",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "0c29a28aaeef52a0"
            ]
        ]
    },
    {
        "id": "567a83a3b28a64f3",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 800,
        "wires": [
            [
                "70bb6048f849e29c"
            ]
        ]
    },
    {
        "id": "058eef1d850e0ece",
        "type": "change",
        "z": "78f1a082da935963",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "0b26943d0c4ed049"
            ]
        ]
    },
    {
        "id": "bf6132b3cc3e12d8",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "opcua",
        "payload": "done",
        "payloadType": "str",
        "x": 1150,
        "y": 680,
        "wires": [
            [
                "e6940c0f4f77ac3a"
            ]
        ]
    },
    {
        "id": "4a1596efc943877a",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "opcua",
        "payload": "done",
        "payloadType": "str",
        "x": 1150,
        "y": 1080,
        "wires": [
            [
                "b77f0861b99c1e97"
            ]
        ]
    },
    {
        "id": "6f874faf91e89034",
        "type": "inject",
        "z": "78f1a082da935963",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "opcua",
        "payload": "done",
        "payloadType": "str",
        "x": 1150,
        "y": 1460,
        "wires": [
            [
                "0a7357fb18234de6"
            ]
        ]
    },
    {
        "id": "87a17f2fbc71ee61",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "8a2f53e5279acdbc"
            ],
            []
        ]
    },
    {
        "id": "518d7f3b92b1d81f",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Conveyor_Req",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "87a17f2fbc71ee61"
            ]
        ]
    },
    {
        "id": "1ab2d5faf06aa8c9",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "0f7fb316fc62787c"
            ],
            []
        ]
    },
    {
        "id": "2ff8e07408ab063c",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Station3_Req",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "1ab2d5faf06aa8c9"
            ]
        ]
    },
    {
        "id": "6631b0b0b83f3912",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "500",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "6c97ee62bcc6d97b"
            ],
            []
        ]
    },
    {
        "id": "c32cc07c66c50f1e",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Station4_Req",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 250,
        "y": 1240,
        "wires": [
            [
                "6631b0b0b83f3912"
            ]
        ]
    },
    {
        "id": "81d4a470dd2d5a22",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 1720,
        "y": 1380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0e93e94885d09d50",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Station4_Res",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 1570,
        "y": 1380,
        "wires": [
            [
                "81d4a470dd2d5a22"
            ]
        ]
    },
    {
        "id": "33d19cce3fe5d33a",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 1720,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ad8e86e1c2cf81fe",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Station3_Res",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 1570,
        "y": 1000,
        "wires": [
            [
                "33d19cce3fe5d33a"
            ]
        ]
    },
    {
        "id": "baadcc331852d904",
        "type": "OpcUa-Client",
        "z": "78f1a082da935963",
        "endpoint": "5bcf2594ad43c97b",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 1720,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d18f7940d6d14e88",
        "type": "OpcUa-Item",
        "z": "78f1a082da935963",
        "item": "ns=1;s=Conveyor_Res",
        "datatype": "String",
        "value": "",
        "name": "",
        "x": 1570,
        "y": 600,
        "wires": [
            [
                "baadcc331852d904"
            ]
        ]
    },
    {
        "id": "8ef31b82e8dcc139",
        "type": "subflow:72d2e4d12d085135",
        "z": "78f1a082da935963",
        "name": "",
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "e6940c0f4f77ac3a",
                "c30df06a43338afd"
            ]
        ]
    },
    {
        "id": "9e5507d226f31292",
        "type": "subflow:370f1e79e3b33b34",
        "z": "78f1a082da935963",
        "name": "",
        "x": 990,
        "y": 940,
        "wires": [
            [
                "b77f0861b99c1e97",
                "322f045f56732a41"
            ]
        ]
    },
    {
        "id": "ad9cbcbc21ccb457",
        "type": "subflow:c5e04bd2e4e7e6b6",
        "z": "78f1a082da935963",
        "name": "",
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "0a7357fb18234de6",
                "177e52a5e2306c85"
            ]
        ]
    },
    {
        "id": "6ead4c5912286c49",
        "type": "function",
        "z": "78f1a082da935963",
        "name": "Conveyor Skill Processor",
        "func": "var skill = msg.payload\nvar start_pos = parseInt(skill.split('#TOKEN#')[0].replace('C',''))\nvar end_pos_str = skill.split('#TOKEN#')[1]\nvar end_pos = parseInt(end_pos_str.replace('C',''))\n\nmsg.destiny = end_pos_str\nmsg.C1 = 0\nmsg.C2 = 0\nmsg.C3 = 0\nmsg.C4 = 0\n\nif(start_pos < end_pos){\n    for(let i = start_pos; i <= end_pos; i++)\n    {\n        msg['C'.concat(i.toString())] = 1\n    }\n    \n    \n}else{\n    for(let i = end_pos; i <= start_pos; i++)\n    {\n        msg['C'.concat(i.toString())] = -1\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 540,
        "wires": [
            [
                "8ef31b82e8dcc139"
            ]
        ]
    },
    {
        "id": "6917849bd289e824",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.250.201",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5bcf2594ad43c97b",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.250.100:53880",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    }
]