Project/node_red/Kit Nodes/High Level Kit Controller.json
[{"id":"bce7126c6efa8d81","type":"subflow","name":"Station4_Controller","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"5d9c4b56d92418b2"},{"id":"ab64f165f104bdf0"},{"id":"530440ba56fdbd79"}]}],"out":[{"x":2460,"y":220,"wires":[{"id":"0117dde1639cc336","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8248e994c2edacb2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":1950,"y":180,"wires":[]},{"id":"59289baec1d150ca","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":100,"wires":[["291ca6487295da57"]]},{"id":"291ca6487295da57","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":2070,"y":100,"wires":[]},{"id":"c3a64a8f6ccd6f2b","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":40,"wires":[["65524f2a435257c6"]]},{"id":"6dfc11ca5578dbe8","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Up","info":"","x":1440,"y":60,"wires":[]},{"id":"7e7d866caa8d9325","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":1950,"y":260,"wires":[]},{"id":"beafd77169e61678","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":320,"wires":[["34fe92cffbe882d2"]]},{"id":"34fe92cffbe882d2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":2070,"y":320,"wires":[]},{"id":"07e6a197051698d0","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":380,"wires":[["1768d83f88f60c66"]]},{"id":"65524f2a435257c6","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":40,"wires":[["0117dde1639cc336"]]},{"id":"1768d83f88f60c66","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":380,"wires":[["0117dde1639cc336"]]},{"id":"0117dde1639cc336","type":"function","z":"bce7126c6efa8d81","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":2300,"y":220,"wires":[[]]},{"id":"b2d46e49afb203df","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_5_i04","overwritevalue":false,"outputvalue":"","x":1430,"y":180,"wires":[]},{"id":"95d6b87c73032d41","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["6fc10a85defc9e33"]]},{"id":"6fc10a85defc9e33","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1290,"y":220,"wires":[["b2d46e49afb203df","8df9fa35a2392ee7"]]},{"id":"8df9fa35a2392ee7","type":"template","z":"bce7126c6efa8d81","name":"Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"done","output":"str","x":1440,"y":220,"wires":[["b78289e428e4b67c","9652fe862046d580"]]},{"id":"37889e25f73804d2","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":100,"wires":[["1ba787697d2351fa"]]},{"id":"b78289e428e4b67c","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1670,"y":180,"wires":[["37889e25f73804d2","8248e994c2edacb2","59289baec1d150ca","c3a64a8f6ccd6f2b"]]},{"id":"1ba787697d2351fa","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1670,"y":100,"wires":[["37889e25f73804d2","8248e994c2edacb2","c3a64a8f6ccd6f2b"]]},{"id":"1937cce77ddb6f85","type":"comment","z":"bce7126c6efa8d81","name":"Station Action","info":"","x":950,"y":180,"wires":[]},{"id":"0dba61ae3a6cd105","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":340,"wires":[["8f275e740d659f26"]]},{"id":"9652fe862046d580","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1670,"y":260,"wires":[["0dba61ae3a6cd105","7e7d866caa8d9325","beafd77169e61678","07e6a197051698d0"]]},{"id":"8f275e740d659f26","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1670,"y":340,"wires":[["0dba61ae3a6cd105","7e7d866caa8d9325","07e6a197051698d0"]]},{"id":"fc002e5284eacfaa","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Back","info":"","x":1450,"y":380,"wires":[]},{"id":"5693267bc7e2f1f0","type":"function","z":"bce7126c6efa8d81","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":980,"y":220,"wires":[["b2d46e49afb203df","95d6b87c73032d41"]]},{"id":"7274979dad45385b","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":610,"y":260,"wires":[]},{"id":"7206e993df061852","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":320,"wires":[["c8f673958dcf12da"]]},{"id":"c8f673958dcf12da","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":730,"y":320,"wires":[]},{"id":"5d6d0e9b3e4b6660","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":380,"wires":[["71f8d8ec2c6e528d"]]},{"id":"ab64f165f104bdf0","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":170,"y":260,"wires":[["7274979dad45385b","7206e993df061852","5d6d0e9b3e4b6660","f7577f8321741232"]]},{"id":"71f8d8ec2c6e528d","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":410,"y":380,"wires":[["7274979dad45385b","5d6d0e9b3e4b6660","f7577f8321741232"]]},{"id":"fd50ba33298713b8","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":610,"y":180,"wires":[]},{"id":"f880bdc34117a69d","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":120,"wires":[["f0bbbd70de1604e2"]]},{"id":"f0bbbd70de1604e2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":730,"y":120,"wires":[]},{"id":"a8ddd3850926a961","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":60,"wires":[["5f33c9a24da40975"]]},{"id":"5d9c4b56d92418b2","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":170,"y":180,"wires":[["fd50ba33298713b8","f880bdc34117a69d","a8ddd3850926a961","0d78c447aceb394d"]]},{"id":"5f33c9a24da40975","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":410,"y":60,"wires":[["fd50ba33298713b8","a8ddd3850926a961","0d78c447aceb394d"]]},{"id":"0d78c447aceb394d","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":60,"wires":[["63300ccbc2298af0"]]},{"id":"7896a6b806970d28","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Front","info":"","x":330,"y":120,"wires":[]},{"id":"c837b736bc1bb3e9","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Down","info":"","x":330,"y":320,"wires":[]},{"id":"281b10313a921286","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":380,"wires":[["5693267bc7e2f1f0"]]},{"id":"63300ccbc2298af0","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":60,"wires":[["5693267bc7e2f1f0"]]},{"id":"f7577f8321741232","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":380,"wires":[["281b10313a921286"]]},{"id":"530440ba56fdbd79","type":"function","z":"bce7126c6efa8d81","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":220,"wires":[]},{"id":"da7b91925b0f9fbc","type":"subflow","name":"Station3_Controller","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"204a10c254acf550"},{"id":"78f740257071ad7e"},{"id":"34485348ea051596"}]}],"out":[{"x":2460,"y":220,"wires":[{"id":"0e4960681bcd36a0","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e6282bd86e19b4c9","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":1950,"y":180,"wires":[]},{"id":"bb7ac10437bebb1c","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":100,"wires":[["e4c0de567f601157"]]},{"id":"e4c0de567f601157","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":2070,"y":100,"wires":[]},{"id":"122826f051d74d31","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["5484419a8e6b82b1"]]},{"id":"5484419a8e6b82b1","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1290,"y":220,"wires":[["4815f1ca5dc32254","57b9b572294edbd5"]]},{"id":"4815f1ca5dc32254","type":"template","z":"da7b91925b0f9fbc","name":"Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"done","output":"str","x":1440,"y":220,"wires":[["e9c3976607445206","600fa05cae9d585e"]]},{"id":"35a3dceb6a689460","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":100,"wires":[["d98f21badb97f20a"]]},{"id":"e9c3976607445206","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":1670,"y":180,"wires":[["35a3dceb6a689460","e6282bd86e19b4c9","bb7ac10437bebb1c","d5ae9602f1561d69"]]},{"id":"d98f21badb97f20a","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":1670,"y":100,"wires":[["35a3dceb6a689460","e6282bd86e19b4c9","d5ae9602f1561d69"]]},{"id":"69bcb59630a4f3e6","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":320,"wires":[["55cfd78672452be3"]]},{"id":"d2df29b03418d41a","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":380,"wires":[["32b5dd974940326e"]]},{"id":"fdbb261f2f653b01","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":120,"wires":[["58b419f2f52aa49f"]]},{"id":"1b0a199da9ac8145","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":60,"wires":[["0ee2e9a6cb37f4da"]]},{"id":"1e7666113f5aa8e3","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":60,"wires":[["88071423df70013c"]]},{"id":"d5ae9602f1561d69","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":40,"wires":[["e4cefb5157d58a3c"]]},{"id":"71b4df106b9c4cdc","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Front","info":"","x":330,"y":120,"wires":[]},{"id":"c28d03f90b061154","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Down","info":"","x":330,"y":320,"wires":[]},{"id":"b0499d9cfbae1f42","type":"comment","z":"da7b91925b0f9fbc","name":"Station Action","info":"","x":950,"y":180,"wires":[]},{"id":"90b1f8f51d3ee626","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Up","info":"","x":1440,"y":60,"wires":[]},{"id":"b2931773beb2c5f5","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":1950,"y":260,"wires":[]},{"id":"f617c23bda8512ec","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":320,"wires":[["35ca2eb04c67eb96"]]},{"id":"35ca2eb04c67eb96","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":2070,"y":320,"wires":[]},{"id":"6f285ac836a1c20e","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":340,"wires":[["7a13dbae06dfd79e"]]},{"id":"600fa05cae9d585e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":1670,"y":260,"wires":[["b2931773beb2c5f5","f617c23bda8512ec","6f285ac836a1c20e","827ff4ba7784a59d"]]},{"id":"7a13dbae06dfd79e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":1670,"y":340,"wires":[["b2931773beb2c5f5","6f285ac836a1c20e","827ff4ba7784a59d"]]},{"id":"827ff4ba7784a59d","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":380,"wires":[["44c15a56200f16c1"]]},{"id":"a4ab3db13900c748","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Back","info":"","x":1450,"y":380,"wires":[]},{"id":"5b16b3e02a6c8fbe","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":380,"wires":[["599e833422ca4722"]]},{"id":"e4cefb5157d58a3c","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":40,"wires":[["0e4960681bcd36a0"]]},{"id":"44c15a56200f16c1","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":380,"wires":[["0e4960681bcd36a0"]]},{"id":"88071423df70013c","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":60,"wires":[["599e833422ca4722"]]},{"id":"3952e049d9a4d366","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":380,"wires":[["5b16b3e02a6c8fbe"]]},{"id":"599e833422ca4722","type":"function","z":"da7b91925b0f9fbc","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":980,"y":220,"wires":[["122826f051d74d31","57b9b572294edbd5"]]},{"id":"0e4960681bcd36a0","type":"function","z":"da7b91925b0f9fbc","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":2300,"y":220,"wires":[[]]},{"id":"57b9b572294edbd5","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i04","overwritevalue":false,"outputvalue":"","x":1430,"y":180,"wires":[]},{"id":"0ee2e9a6cb37f4da","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":410,"y":60,"wires":[["1b0a199da9ac8145","1e7666113f5aa8e3","d5db2bfeaa16ba21"]]},{"id":"d5db2bfeaa16ba21","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":610,"y":180,"wires":[]},{"id":"58b419f2f52aa49f","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":730,"y":120,"wires":[]},{"id":"32b5dd974940326e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":410,"y":380,"wires":[["3952e049d9a4d366","d2df29b03418d41a","40576aadc0726ec6"]]},{"id":"204a10c254acf550","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":170,"y":180,"wires":[["1b0a199da9ac8145","1e7666113f5aa8e3","fdbb261f2f653b01","d5db2bfeaa16ba21"]]},{"id":"78f740257071ad7e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":170,"y":260,"wires":[["d2df29b03418d41a","69bcb59630a4f3e6","3952e049d9a4d366","40576aadc0726ec6"]]},{"id":"40576aadc0726ec6","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":610,"y":260,"wires":[]},{"id":"55cfd78672452be3","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":730,"y":320,"wires":[]},{"id":"34485348ea051596","type":"function","z":"da7b91925b0f9fbc","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":220,"wires":[]},{"id":"371d4b125046cd8a","type":"subflow","name":"Conveyor_Controller","info":"This node takes a msg object in the format:\r\n\r\n{\r\n    Destiny: String,\r\n    C1: int,\r\n    C2: int,\r\n    C3: int,\r\n    C4: int\r\n}\r\n\r\nThe value of Destiny corresponds to the conveyor belt where the product needs to stop, i.e. if the product has to stop at the conveyor belt number 3, the value of Destiny will be C3.\r\n\r\nC1 through C4 correspond to the orientation of the conveyors, if the value provided is 1, that conveyor will move to the right, -1 will move it to the left and 0 will stop it.","category":"","in":[{"x":40,"y":220,"wires":[{"id":"3a8ced5897a1c106"},{"id":"0cbc95174347c77c"},{"id":"5d2de5e56425d117"},{"id":"cb543cf270e6be03"},{"id":"58b05208e9327f38"},{"id":"a007e6c0249ea002"}]}],"out":[{"x":950,"y":300,"wires":[{"id":"d33d6192916a0027","port":0}]}],"env":[],"meta":{"author":"David Ferreira <dro.ferreira@fct.unl.pt>"},"color":"#DDAA99"},{"id":"0cbc95174347c77c","type":"function","z":"371d4b125046cd8a","name":"C1","func":"// Right\nif(msg.C1 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C1 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":60,"wires":[["f76dc0e530d3088b"],["c0072354548f23d4"]]},{"id":"5d2de5e56425d117","type":"function","z":"371d4b125046cd8a","name":"C2","func":"// Right\nif(msg.C2 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C2 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":160,"wires":[["6e68ecd2fde1b3ab"],["ecdafeda1c9510f6"]]},{"id":"cb543cf270e6be03","type":"function","z":"371d4b125046cd8a","name":"C3","func":"// Right\nif(msg.C3 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C3 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":280,"wires":[["817a51aedf694889"],["3202cd629be82e56"]]},{"id":"58b05208e9327f38","type":"function","z":"371d4b125046cd8a","name":"C4","func":"// Right\nif(msg.C4 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C4 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":380,"wires":[["f8375e951e9890ff"],["f5f06f4436ed1a4e"]]},{"id":"f76dc0e530d3088b","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":390,"y":40,"wires":[]},{"id":"c0072354548f23d4","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":390,"y":80,"wires":[]},{"id":"817a51aedf694889","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":400,"y":260,"wires":[]},{"id":"3202cd629be82e56","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":400,"y":300,"wires":[]},{"id":"6e68ecd2fde1b3ab","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":400,"y":140,"wires":[]},{"id":"ecdafeda1c9510f6","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":390,"y":180,"wires":[]},{"id":"f8375e951e9890ff","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":400,"y":360,"wires":[]},{"id":"f5f06f4436ed1a4e","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":400,"y":400,"wires":[]},{"id":"3a8ced5897a1c106","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"change","p":"destiny","pt":"msg","from":"C1","fromt":"str","to":"I_6_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C2","fromt":"str","to":"I_4_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C3","fromt":"str","to":"I_2_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C4","fromt":"str","to":"I_13_i03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":500,"wires":[["6356732384d3edcd"]]},{"id":"764152ea5ebcc22a","type":"revpi-multiple-input","z":"371d4b125046cd8a","server":"881e060a.9b5288","inputPinList":"I_2_i03 I_4_i03 I_6_i03 I_13_i03","inputpin":"I_2_i03 I_4_i03 I_6_i03 I_13_i03","topic":"","x":190,"y":560,"wires":[["c9c73273acc783be"]]},{"id":"6356732384d3edcd","type":"function","z":"371d4b125046cd8a","name":"Load Message","func":"// Register Destiny conveyor\nif(\"destiny\" in msg){\n    context.set(\"Destiny\", msg.destiny)\n    context.set(\"Topic\", msg.topic)\n}\n\n// As soon as Destiny conveyor detects an object, stop all\nvar destiny = context.get(\"Destiny\")\n\nif (destiny != undefined){\n    if(msg[destiny] == 1){\n        \n        context.set(\"Destiny\", undefined)\n        var newMsg = flow.get(\"message\")\n        newMsg.payload = 0\n        return newMsg\n    }\n}\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Destiny\", undefined)","finalize":"","libs":[],"x":540,"y":500,"wires":[["7c4744a940e03ab6","c888628adbb9e48a","032eef176b9cb84d","94a3c560ffcd681a","f0ce6eace798d706","1a93d0f4c3fe90ab","63fc604597f4f3f7","0ab99dca0c961c6f","d33d6192916a0027"]]},{"id":"7c4744a940e03ab6","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":760,"y":360,"wires":[]},{"id":"c888628adbb9e48a","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":760,"y":400,"wires":[]},{"id":"f0ce6eace798d706","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":770,"y":520,"wires":[]},{"id":"1a93d0f4c3fe90ab","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":770,"y":560,"wires":[]},{"id":"032eef176b9cb84d","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":770,"y":440,"wires":[]},{"id":"94a3c560ffcd681a","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":760,"y":480,"wires":[]},{"id":"63fc604597f4f3f7","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":770,"y":600,"wires":[]},{"id":"0ab99dca0c961c6f","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":770,"y":640,"wires":[]},{"id":"d33d6192916a0027","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":300,"wires":[[]]},{"id":"c9c73273acc783be","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"move","p":"payload.I_2_i03","pt":"msg","to":"I_2_i03","tot":"msg"},{"t":"move","p":"payload.I_4_i03","pt":"msg","to":"I_4_i03","tot":"msg"},{"t":"move","p":"payload.I_6_i03","pt":"msg","to":"I_6_i03","tot":"msg"},{"t":"move","p":"payload.I_13_i03","pt":"msg","to":"I_13_i03","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["6356732384d3edcd"]]},{"id":"a007e6c0249ea002","type":"function","z":"371d4b125046cd8a","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[]},{"id":"881e060a.9b5288","type":"revpi-server","host":"localhost","port":"8000","user":"","password":"","rejectUnauthorized":false,"ca":""},{"id":"c4dc1cf197575fba","type":"tab","label":"High Level Kit Controller","disabled":false,"info":"","env":[]},{"id":"d6d49b0577e01bde","type":"debug","z":"c4dc1cf197575fba","name":"Conveyor Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":300,"wires":[]},{"id":"0aa894c61d17d17b","type":"join","z":"c4dc1cf197575fba","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"#TOKEN#","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":360,"wires":[["d39a5eb1780c9ab7"]]},{"id":"bbf50f92b4d9c30f","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Source","payloadType":"str","x":310,"y":260,"wires":[["0aa894c61d17d17b"]]},{"id":"084010fc50c0a92c","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C1","payloadType":"str","x":310,"y":300,"wires":[["0aa894c61d17d17b"]]},{"id":"6525fb5b4b966d95","type":"debug","z":"c4dc1cf197575fba","name":"Conveyor Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"25c5d6eda6435da7","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C2","payloadType":"str","x":310,"y":340,"wires":[["0aa894c61d17d17b"]]},{"id":"8ede8985c5c5dbed","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C3","payloadType":"str","x":310,"y":380,"wires":[["0aa894c61d17d17b"]]},{"id":"c0fcd3edc583d9c7","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C4","payloadType":"str","x":310,"y":420,"wires":[["0aa894c61d17d17b"]]},{"id":"cf37db09d5342783","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Storage","payloadType":"str","x":310,"y":460,"wires":[["0aa894c61d17d17b"]]},{"id":"1502428cced50f50","type":"mqtt in","z":"c4dc1cf197575fba","name":"","topic":"conveyor_request","qos":"2","datatype":"auto-detect","broker":"6917849bd289e824","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":60,"wires":[["9e8fdd5aa486bcc7"]]},{"id":"8a28e1209d192409","type":"mqtt out","z":"c4dc1cf197575fba","name":"","topic":"conveyor_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6917849bd289e824","x":1580,"y":300,"wires":[]},{"id":"a34fbc9c9f7d43de","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":180,"wires":[["b37bc5bd3597a4b3"],[]]},{"id":"32f985cfcc4b21e4","type":"inject","z":"c4dc1cf197575fba","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["d4bc4fda05303942"]]},{"id":"d4bc4fda05303942","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":220,"y":180,"wires":[["a34fbc9c9f7d43de"]]},{"id":"c80727d9bd8d674b","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":1560,"y":420,"wires":[["f7836702552c8c16"]]},{"id":"f7836702552c8c16","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1720,"y":420,"wires":[[],[]]},{"id":"b37bc5bd3597a4b3","type":"function","z":"c4dc1cf197575fba","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":180,"wires":[["7b99187cc352633a"]]},{"id":"f1052f5e2536518e","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_A","payloadType":"str","x":310,"y":760,"wires":[["f5885438b5ef0553"]]},{"id":"54786f9266525047","type":"mqtt in","z":"c4dc1cf197575fba","name":"","topic":"station_3_request","qos":"2","datatype":"auto-detect","broker":"6917849bd289e824","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":560,"wires":[["debc37c717332956"]]},{"id":"e52bcd3f80289f16","type":"http in","z":"c4dc1cf197575fba","name":"","url":"/station_3","method":"post","upload":false,"swaggerDoc":"","x":240,"y":620,"wires":[["3c315c12e0726c36"]]},{"id":"c53da8e9681b5b00","type":"debug","z":"c4dc1cf197575fba","name":"Station 3 Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":680,"wires":[]},{"id":"497768e006f54448","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":680,"wires":[["e5c2dbafb3b8176f"],[]]},{"id":"40dc58fb66ffe4b9","type":"inject","z":"c4dc1cf197575fba","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":680,"wires":[["6e0750a53a4b9391"]]},{"id":"6e0750a53a4b9391","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":220,"y":680,"wires":[["497768e006f54448"]]},{"id":"e5c2dbafb3b8176f","type":"function","z":"c4dc1cf197575fba","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":680,"wires":[["df59171133894f90"]]},{"id":"5faf573095cbbb8a","type":"http in","z":"c4dc1cf197575fba","name":"","url":"/conveyor","method":"post","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["0ae74487a9e623e0"]]},{"id":"612717c8069e8caa","type":"http response","z":"c4dc1cf197575fba","name":"","statusCode":"","headers":{},"x":1530,"y":360,"wires":[]},{"id":"4698e27f813703ca","type":"switch","z":"c4dc1cf197575fba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":360,"wires":[["8a28e1209d192409","ec290ea43db7b442"],["612717c8069e8caa","656be61072038978"],["c80727d9bd8d674b","5ecfbdbb98f8b0c1"]]},{"id":"d39a5eb1780c9ab7","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":360,"wires":[["6525fb5b4b966d95","9f69f3c3d8f5da4f"]]},{"id":"9e8fdd5aa486bcc7","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":60,"wires":[["6525fb5b4b966d95","9f69f3c3d8f5da4f"]]},{"id":"6c5296745f2b89e8","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["6525fb5b4b966d95","9f69f3c3d8f5da4f"]]},{"id":"ec290ea43db7b442","type":"debug","z":"c4dc1cf197575fba","name":"Conveyor MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":260,"wires":[]},{"id":"656be61072038978","type":"debug","z":"c4dc1cf197575fba","name":"Conveyor HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":360,"wires":[]},{"id":"5ecfbdbb98f8b0c1","type":"debug","z":"c4dc1cf197575fba","name":"Conveyor OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":460,"wires":[]},{"id":"f5885438b5ef0553","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["fa84edafb0b959df"]]},{"id":"9f6c5fa0b9d628fa","type":"debug","z":"c4dc1cf197575fba","name":"Station 3 Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":700,"wires":[]},{"id":"cd5c97cb00162e69","type":"mqtt out","z":"c4dc1cf197575fba","name":"","topic":"station_3_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6917849bd289e824","x":1580,"y":700,"wires":[]},{"id":"c232f8d58d1912fc","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":1560,"y":820,"wires":[["f258349015f38ff6"]]},{"id":"f258349015f38ff6","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1720,"y":820,"wires":[[],[]]},{"id":"11448e035c72f168","type":"http response","z":"c4dc1cf197575fba","name":"","statusCode":"","headers":{},"x":1530,"y":760,"wires":[]},{"id":"dfaea44d1994225b","type":"switch","z":"c4dc1cf197575fba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":760,"wires":[["cd5c97cb00162e69","a7ddfbba6a7b88e1"],["11448e035c72f168","a768333269935ca2"],["c232f8d58d1912fc","e185d2df19ca915b"]]},{"id":"a7ddfbba6a7b88e1","type":"debug","z":"c4dc1cf197575fba","name":"Station 3 MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":660,"wires":[]},{"id":"a768333269935ca2","type":"debug","z":"c4dc1cf197575fba","name":"Station 3 HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":760,"wires":[]},{"id":"e185d2df19ca915b","type":"debug","z":"c4dc1cf197575fba","name":"Station 3 OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":860,"wires":[]},{"id":"7b99187cc352633a","type":"change","z":"c4dc1cf197575fba","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["6525fb5b4b966d95","9f69f3c3d8f5da4f"]]},{"id":"df59171133894f90","type":"change","z":"c4dc1cf197575fba","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["c53da8e9681b5b00","fa84edafb0b959df"]]},{"id":"debc37c717332956","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["c53da8e9681b5b00","fa84edafb0b959df"]]},{"id":"27c9b6e5af01274f","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":620,"wires":[["c53da8e9681b5b00","fa84edafb0b959df"]]},{"id":"d6346a752debc0d1","type":"mqtt in","z":"c4dc1cf197575fba","name":"","topic":"station_4_request","qos":"2","datatype":"auto-detect","broker":"6917849bd289e824","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":940,"wires":[["ca35ad71faefcf3c"]]},{"id":"2bdd230566b89fee","type":"http in","z":"c4dc1cf197575fba","name":"","url":"/station_4","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1000,"wires":[["0fc95912aa0ff47d"]]},{"id":"3f98c57e2f0f2df8","type":"debug","z":"c4dc1cf197575fba","name":"Station 4 Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":1060,"wires":[]},{"id":"313914b34b1a3cb4","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":1060,"wires":[["f87d94f472e4647c"],[]]},{"id":"e22585426848b249","type":"inject","z":"c4dc1cf197575fba","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1060,"wires":[["a46a2bfe71ddf7d6"]]},{"id":"a46a2bfe71ddf7d6","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":220,"y":1060,"wires":[["313914b34b1a3cb4"]]},{"id":"f87d94f472e4647c","type":"function","z":"c4dc1cf197575fba","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":1060,"wires":[["1df24fd1fd0f3c19"]]},{"id":"8a66ad2bf6faed57","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1140,"wires":[["64dbb387410b6ca0"]]},{"id":"095af6ea3118ecfb","type":"debug","z":"c4dc1cf197575fba","name":"Station 4 Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":1080,"wires":[]},{"id":"fca5af6ed8792533","type":"mqtt out","z":"c4dc1cf197575fba","name":"","topic":"station_4_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6917849bd289e824","x":1580,"y":1080,"wires":[]},{"id":"a513c48faf894fa3","type":"OpcUa-Item","z":"c4dc1cf197575fba","d":true,"item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":1560,"y":1200,"wires":[["c31de4fc9f296938"]]},{"id":"c31de4fc9f296938","type":"OpcUa-Client","z":"c4dc1cf197575fba","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1720,"y":1200,"wires":[[],[]]},{"id":"ca150c167a368853","type":"http response","z":"c4dc1cf197575fba","name":"","statusCode":"","headers":{},"x":1530,"y":1140,"wires":[]},{"id":"b67b362b23d37ea4","type":"switch","z":"c4dc1cf197575fba","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":1140,"wires":[["fca5af6ed8792533","5983dd73e8ba994b"],["ca150c167a368853","834993f771acdb02"],["a513c48faf894fa3","203dfd0bfb55e736"]]},{"id":"5983dd73e8ba994b","type":"debug","z":"c4dc1cf197575fba","name":"Station 4 MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":1040,"wires":[]},{"id":"834993f771acdb02","type":"debug","z":"c4dc1cf197575fba","name":"Station 4 HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":1140,"wires":[]},{"id":"203dfd0bfb55e736","type":"debug","z":"c4dc1cf197575fba","name":"Station 4 OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":1240,"wires":[]},{"id":"1df24fd1fd0f3c19","type":"change","z":"c4dc1cf197575fba","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1060,"wires":[["3f98c57e2f0f2df8","64dbb387410b6ca0"]]},{"id":"ca35ad71faefcf3c","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":940,"wires":[["3f98c57e2f0f2df8","64dbb387410b6ca0"]]},{"id":"e3b9a4469d999c48","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1000,"wires":[["3f98c57e2f0f2df8","64dbb387410b6ca0"]]},{"id":"b6213b7c356967cd","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_B","payloadType":"str","x":310,"y":1140,"wires":[["8a66ad2bf6faed57"]]},{"id":"68d927d4f1c7553d","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":420,"wires":[["4698e27f813703ca"]]},{"id":"8bf0c0df250ad6ac","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":460,"wires":[["4698e27f813703ca"]]},{"id":"5a6658001335329a","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":820,"wires":[["dfaea44d1994225b"]]},{"id":"5b4bb9211ec90306","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":860,"wires":[["dfaea44d1994225b"]]},{"id":"3792575030cce572","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":1200,"wires":[["b67b362b23d37ea4"]]},{"id":"b1700573846d6c0a","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":1240,"wires":[["b67b362b23d37ea4"]]},{"id":"0ae74487a9e623e0","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["6c5296745f2b89e8"]]},{"id":"3c315c12e0726c36","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["27c9b6e5af01274f"]]},{"id":"0fc95912aa0ff47d","type":"change","z":"c4dc1cf197575fba","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1000,"wires":[["e3b9a4469d999c48"]]},{"id":"d1a6af757b8ee5e8","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":500,"wires":[["4698e27f813703ca"]]},{"id":"71dd55264364ef20","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":900,"wires":[["dfaea44d1994225b"]]},{"id":"def57b5f5e493ad9","type":"inject","z":"c4dc1cf197575fba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":1280,"wires":[["b67b362b23d37ea4"]]},{"id":"9f69f3c3d8f5da4f","type":"subflow:371d4b125046cd8a","z":"c4dc1cf197575fba","name":"","x":960,"y":360,"wires":[["4698e27f813703ca","d6d49b0577e01bde"]]},{"id":"fa84edafb0b959df","type":"subflow:da7b91925b0f9fbc","z":"c4dc1cf197575fba","name":"","x":970,"y":760,"wires":[["9f6c5fa0b9d628fa","dfaea44d1994225b"]]},{"id":"64dbb387410b6ca0","type":"subflow:bce7126c6efa8d81","z":"c4dc1cf197575fba","name":"","x":970,"y":1140,"wires":[["b67b362b23d37ea4","095af6ea3118ecfb"]]},{"id":"6917849bd289e824","type":"mqtt-broker","name":"MQTT","broker":"192.168.250.201","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3aac6e7284da1818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.207:54840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]