Project/node_red/Kit Nodes/KitController.json
[
    {
        "id": "37c4daa8aceb3f4d",
        "type": "subflow",
        "name": "Station3_Controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "4418c62d570eb35d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 1040,
                "wires": [
                    {
                        "id": "edfdd95c247a5fd9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "83d705e2f3163a8f",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "d4642b13bd1f349f",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "8ee5d7ebfe151a01",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 740,
        "wires": [
            [
                "4f6f3a39ecd880d2"
            ]
        ]
    },
    {
        "id": "4f6f3a39ecd880d2",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "2f36bef56b046a39",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "426247ba61a36aec"
            ]
        ]
    },
    {
        "id": "426247ba61a36aec",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "2d14b3cc0deeba86",
                "d4642b13bd1f349f"
            ]
        ]
    },
    {
        "id": "2d14b3cc0deeba86",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Finished",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "done",
        "output": "str",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "9926b2d5112b25d8"
            ]
        ]
    },
    {
        "id": "4fa8faa944f71cbe",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "583188e783f4bca9"
            ]
        ]
    },
    {
        "id": "9926b2d5112b25d8",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "4fa8faa944f71cbe",
                "83d705e2f3163a8f",
                "8ee5d7ebfe151a01",
                "0d82d4d6f45c8013"
            ]
        ]
    },
    {
        "id": "583188e783f4bca9",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 390,
        "y": 760,
        "wires": [
            [
                "4fa8faa944f71cbe",
                "83d705e2f3163a8f",
                "0d82d4d6f45c8013"
            ]
        ]
    },
    {
        "id": "a2376153d6208824",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b7b1470b4c9d9bc",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "ec768b559e6fef99"
            ]
        ]
    },
    {
        "id": "ec768b559e6fef99",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "c2dcfaa9a02c6b25",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "aea1d67f9625d20f"
            ]
        ]
    },
    {
        "id": "83c57eb6ff49c1b7",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "c2dcfaa9a02c6b25",
                "a2376153d6208824",
                "5b7b1470b4c9d9bc",
                "e18a3a7a361b549d"
            ]
        ]
    },
    {
        "id": "aea1d67f9625d20f",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "c2dcfaa9a02c6b25",
                "a2376153d6208824",
                "e18a3a7a361b549d"
            ]
        ]
    },
    {
        "id": "45bc714e9c43dcab",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "c1a10a04d91c90b1",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "748a2294841527ef"
            ]
        ]
    },
    {
        "id": "748a2294841527ef",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "54dd7d7a620a8414",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "6ae37e5b112eeb86"
            ]
        ]
    },
    {
        "id": "4418c62d570eb35d",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "54dd7d7a620a8414",
                "45bc714e9c43dcab",
                "c1a10a04d91c90b1",
                "88c91ec7b61b39fd"
            ]
        ]
    },
    {
        "id": "6ae37e5b112eeb86",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "54dd7d7a620a8414",
                "45bc714e9c43dcab",
                "88c91ec7b61b39fd"
            ]
        ]
    },
    {
        "id": "88c91ec7b61b39fd",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "7a0c4287ae241552"
            ]
        ]
    },
    {
        "id": "0d82d4d6f45c8013",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 800,
        "wires": [
            [
                "d8de4e1ac9dc143d"
            ]
        ]
    },
    {
        "id": "7e8335f2f53b5ab0",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Front",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "457adfc85c352082",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Down",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4a5e37fcfb88030",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Station Action",
        "info": "",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e92cc5d6e270ccc",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Up",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "f6854d2e8e567b99",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "d7a4b8bb6135bc4a",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 980,
        "wires": [
            [
                "516a7a57f1df8855"
            ]
        ]
    },
    {
        "id": "516a7a57f1df8855",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "17e9216bfed075dc",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "22c5dc0efdf74392"
            ]
        ]
    },
    {
        "id": "8b61d42f980ed471",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "f6854d2e8e567b99",
                "d7a4b8bb6135bc4a",
                "17e9216bfed075dc",
                "e15a057701925104"
            ]
        ]
    },
    {
        "id": "22c5dc0efdf74392",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "f6854d2e8e567b99",
                "17e9216bfed075dc",
                "e15a057701925104"
            ]
        ]
    },
    {
        "id": "e15a057701925104",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1040,
        "wires": [
            [
                "edfdd95c247a5fd9"
            ]
        ]
    },
    {
        "id": "8ee978d07c05d72b",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Back",
        "info": "",
        "x": 130,
        "y": 860,
        "wires": []
    },
    {
        "id": "792faf155c10ffd9",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "d4642b13bd1f349f",
                "2f36bef56b046a39"
            ]
        ]
    },
    {
        "id": "d8de4e1ac9dc143d",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 800,
        "wires": [
            [
                "8b61d42f980ed471"
            ]
        ]
    },
    {
        "id": "edfdd95c247a5fd9",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "7a0c4287ae241552",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "83c57eb6ff49c1b7"
            ]
        ]
    },
    {
        "id": "e18a3a7a361b549d",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "792faf155c10ffd9"
            ]
        ]
    },
    {
        "id": "c0c7a554af9cee83",
        "type": "subflow",
        "name": "Station4_Controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "1c13ecbdcc7990d1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 1040,
                "wires": [
                    {
                        "id": "ae97ccd28e1b9916",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c6e9222f92acd7f9",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_6_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "e1fedfba3a18420a",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_5_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "7fbc31ad39eaf17c",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 740,
        "wires": [
            [
                "f6c277c14febe8ea"
            ]
        ]
    },
    {
        "id": "f6c277c14febe8ea",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "8af5eb6bd58b337a",
        "type": "delay",
        "z": "c0c7a554af9cee83",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "79a95eebd466778c"
            ]
        ]
    },
    {
        "id": "79a95eebd466778c",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "56c919ac4aec8642",
                "e1fedfba3a18420a"
            ]
        ]
    },
    {
        "id": "56c919ac4aec8642",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Finished",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "done",
        "output": "str",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "1af90c887e7150bb"
            ]
        ]
    },
    {
        "id": "52287c2ee6414592",
        "type": "trigger",
        "z": "c0c7a554af9cee83",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "579bf2d47e7ab3b0"
            ]
        ]
    },
    {
        "id": "1af90c887e7150bb",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "52287c2ee6414592",
                "c6e9222f92acd7f9",
                "7fbc31ad39eaf17c",
                "a18ccc0f765e55f6"
            ]
        ]
    },
    {
        "id": "579bf2d47e7ab3b0",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_10_i03",
        "topic": "",
        "x": 390,
        "y": 760,
        "wires": [
            [
                "52287c2ee6414592",
                "c6e9222f92acd7f9",
                "a18ccc0f765e55f6"
            ]
        ]
    },
    {
        "id": "1cc29e06eb8e0319",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "d5ac221a23da56a9",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "6020248d9d487774"
            ]
        ]
    },
    {
        "id": "6020248d9d487774",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_6_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "44d68a9d896d7bca",
        "type": "trigger",
        "z": "c0c7a554af9cee83",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "df49ab55c84fb59a"
            ]
        ]
    },
    {
        "id": "9e4658cef05517f3",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "44d68a9d896d7bca",
                "1cc29e06eb8e0319",
                "d5ac221a23da56a9",
                "fdab90a00aa08476"
            ]
        ]
    },
    {
        "id": "df49ab55c84fb59a",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_8_i03",
        "topic": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "44d68a9d896d7bca",
                "1cc29e06eb8e0319",
                "fdab90a00aa08476"
            ]
        ]
    },
    {
        "id": "c5cce87b5390d9a8",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "22956692713e903c",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "543fa7c0c3625440"
            ]
        ]
    },
    {
        "id": "543fa7c0c3625440",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba6489cd7532d085",
        "type": "trigger",
        "z": "c0c7a554af9cee83",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "db50c565d135aad8"
            ]
        ]
    },
    {
        "id": "1c13ecbdcc7990d1",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_14_i03",
        "topic": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "ba6489cd7532d085",
                "c5cce87b5390d9a8",
                "22956692713e903c",
                "a3977d0b35e76a93"
            ]
        ]
    },
    {
        "id": "db50c565d135aad8",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_14_i03",
        "topic": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "ba6489cd7532d085",
                "c5cce87b5390d9a8",
                "a3977d0b35e76a93"
            ]
        ]
    },
    {
        "id": "a3977d0b35e76a93",
        "type": "function",
        "z": "c0c7a554af9cee83",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "2483596765561468"
            ]
        ]
    },
    {
        "id": "a18ccc0f765e55f6",
        "type": "function",
        "z": "c0c7a554af9cee83",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 800,
        "wires": [
            [
                "31dbd84248d234b0"
            ]
        ]
    },
    {
        "id": "2041b76848dec1c0",
        "type": "comment",
        "z": "c0c7a554af9cee83",
        "name": "Move Station Front",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "a152a48d2ac39311",
        "type": "comment",
        "z": "c0c7a554af9cee83",
        "name": "Move Station Down",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "30a3f8c2e265b2ee",
        "type": "comment",
        "z": "c0c7a554af9cee83",
        "name": "Station Action",
        "info": "",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "1c8d3846ce36ced3",
        "type": "comment",
        "z": "c0c7a554af9cee83",
        "name": "Move Station Up",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "1f503447ec41e348",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "48ba0945d6805208",
        "type": "template",
        "z": "c0c7a554af9cee83",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 650,
        "y": 980,
        "wires": [
            [
                "b8b7ce9cb15a0c3c"
            ]
        ]
    },
    {
        "id": "b8b7ce9cb15a0c3c",
        "type": "revpi-output",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "b57345dae05b6da3",
        "type": "trigger",
        "z": "c0c7a554af9cee83",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "875f7f2178de2176"
            ]
        ]
    },
    {
        "id": "20fb4f72ba798dd2",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_12_i03",
        "topic": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "1f503447ec41e348",
                "48ba0945d6805208",
                "b57345dae05b6da3",
                "27c09180dd9ee48a"
            ]
        ]
    },
    {
        "id": "875f7f2178de2176",
        "type": "revpi-getpin",
        "z": "c0c7a554af9cee83",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_12_i03",
        "topic": "",
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "1f503447ec41e348",
                "b57345dae05b6da3",
                "27c09180dd9ee48a"
            ]
        ]
    },
    {
        "id": "27c09180dd9ee48a",
        "type": "function",
        "z": "c0c7a554af9cee83",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1040,
        "wires": [
            [
                "ae97ccd28e1b9916"
            ]
        ]
    },
    {
        "id": "f31fd69a07f21648",
        "type": "comment",
        "z": "c0c7a554af9cee83",
        "name": "Move Station Back",
        "info": "",
        "x": 130,
        "y": 860,
        "wires": []
    },
    {
        "id": "bd1285ccd4b27edf",
        "type": "delay",
        "z": "c0c7a554af9cee83",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "e1fedfba3a18420a",
                "8af5eb6bd58b337a"
            ]
        ]
    },
    {
        "id": "31dbd84248d234b0",
        "type": "delay",
        "z": "c0c7a554af9cee83",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 800,
        "wires": [
            [
                "20fb4f72ba798dd2"
            ]
        ]
    },
    {
        "id": "ae97ccd28e1b9916",
        "type": "delay",
        "z": "c0c7a554af9cee83",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2483596765561468",
        "type": "delay",
        "z": "c0c7a554af9cee83",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "9e4658cef05517f3"
            ]
        ]
    },
    {
        "id": "fdab90a00aa08476",
        "type": "function",
        "z": "c0c7a554af9cee83",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = 1\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "bd1285ccd4b27edf"
            ]
        ]
    },
    {
        "id": "61ed63e881cb1be8",
        "type": "subflow",
        "name": "Conveyor_Controller",
        "info": "This node takes a msg object in the format:\r\n\r\n{\r\n    Destiny: String,\r\n    C1: int,\r\n    C2: int,\r\n    C3: int,\r\n    C4: int\r\n}\r\n\r\nThe value of Destiny corresponds to the conveyor belt where the product needs to stop, i.e. if the product has to stop at the conveyor belt number 3, the value of Destiny will be C3.\r\n\r\nC1 through C4 correspond to the orientation of the conveyors, if the value provided is 1, that conveyor will move to the right, -1 will move it to the left and 0 will stop it.",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "b8c227ebf2045ec0"
                    },
                    {
                        "id": "da36b93b20386b74"
                    },
                    {
                        "id": "49ed0b0ef4800f91"
                    },
                    {
                        "id": "cd64d0434d08e97a"
                    },
                    {
                        "id": "4740db841305a65f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 300,
                "wires": [
                    {
                        "id": "6b20d8ba7c71a821",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "author": "David Ferreira <dro.ferreira@fct.unl.pt>"
        },
        "color": "#DDAA99"
    },
    {
        "id": "da36b93b20386b74",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C1",
        "func": "// Right\nif(msg.C1 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C1 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "0c63e2cac348db8a"
            ],
            [
                "a3ffdea015084793"
            ]
        ]
    },
    {
        "id": "49ed0b0ef4800f91",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C2",
        "func": "// Right\nif(msg.C2 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C2 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "b31e02d5d48d5e95"
            ],
            [
                "3665252a5a1fa28e"
            ]
        ]
    },
    {
        "id": "cd64d0434d08e97a",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C3",
        "func": "// Right\nif(msg.C3 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C3 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "d41c39d02efb03f6"
            ],
            [
                "2717cf72a2206f80"
            ]
        ]
    },
    {
        "id": "4740db841305a65f",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "C4",
        "func": "// Right\nif(msg.C4 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C4 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 380,
        "wires": [
            [
                "cdba3f9625c4a645"
            ],
            [
                "edc17beb38904abc"
            ]
        ]
    },
    {
        "id": "0c63e2cac348db8a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "a3ffdea015084793",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "d41c39d02efb03f6",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "2717cf72a2206f80",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "b31e02d5d48d5e95",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "3665252a5a1fa28e",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "cdba3f9625c4a645",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "edc17beb38904abc",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "b8c227ebf2045ec0",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C1",
                "fromt": "str",
                "to": "I_6_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C2",
                "fromt": "str",
                "to": "I_4_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C3",
                "fromt": "str",
                "to": "I_2_i03",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "destiny",
                "pt": "msg",
                "from": "C4",
                "fromt": "str",
                "to": "I_13_i03",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "4e216786581ed0c8"
            ]
        ]
    },
    {
        "id": "0e1684b7a5207a5c",
        "type": "revpi-multiple-input",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "inputPinList": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "inputpin": "I_2_i03 I_4_i03 I_6_i03 I_13_i03",
        "topic": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "0fd0de7d6207941b"
            ]
        ]
    },
    {
        "id": "4e216786581ed0c8",
        "type": "function",
        "z": "61ed63e881cb1be8",
        "name": "function 6",
        "func": "// Register Destiny conveyor\nif(\"destiny\" in msg){\n    context.set(\"Destiny\", msg.destiny)\n}\n\n// As soon as Destiny conveyor detects an object, stop all\nvar destiny = context.get(\"Destiny\")\n\nif (destiny != undefined){\n    if(msg[destiny] == 1){\n        \n        context.set(\"Destiny\", undefined)\n        return [{payload: 0}]\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Destiny\", undefined)",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b541ed1076615e40",
                "fbb9f0835c207c9a",
                "216848878e9d4d98",
                "87fb77a922cfe6eb",
                "4657c6e401e01857",
                "87211e2b37db6269",
                "547b6a306949107a",
                "9e49fb82fe16d5db",
                "6b20d8ba7c71a821"
            ]
        ]
    },
    {
        "id": "b541ed1076615e40",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_7_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "fbb9f0835c207c9a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_8_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "4657c6e401e01857",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_12_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "87211e2b37db6269",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_11_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "216848878e9d4d98",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_10_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "87fb77a922cfe6eb",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_9_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "547b6a306949107a",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_14_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e49fb82fe16d5db",
        "type": "revpi-output",
        "z": "61ed63e881cb1be8",
        "server": "881e060a.9b5288",
        "outputpin": "O_13_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b20d8ba7c71a821",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "done",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0fd0de7d6207941b",
        "type": "change",
        "z": "61ed63e881cb1be8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.I_2_i03",
                "pt": "msg",
                "to": "I_2_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_4_i03",
                "pt": "msg",
                "to": "I_4_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_6_i03",
                "pt": "msg",
                "to": "I_6_i03",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.I_13_i03",
                "pt": "msg",
                "to": "I_13_i03",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "4e216786581ed0c8"
            ]
        ]
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    },
    {
        "id": "e07793e1b4a429a0",
        "type": "tab",
        "label": "Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b8f99de15735f3d",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Debug Conveyor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "934b175d29904765",
        "type": "websocket in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "server": "1427a2a157ac5bfd",
        "client": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4b8f99de15735f3d",
                "1f9d3852a868c2a4",
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "c606221aee10f735",
        "type": "join",
        "z": "e07793e1b4a429a0",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "#TOKEN#",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 540,
        "wires": [
            [
                "6f515c785e1a9d28",
                "3264ed2187706538"
            ]
        ]
    },
    {
        "id": "8cf7f8b77d5907ec",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Source",
        "payloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "c087a2861681cb46",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C1",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "6f515c785e1a9d28",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Conveyor Location",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "cc0b4e33c2f9d015",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C2",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "484422f51fe0ab87",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C3",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "c71e843497143d1a",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C4",
        "payloadType": "str",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "7406708316c36da3",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Storage",
        "payloadType": "str",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "c606221aee10f735"
            ]
        ]
    },
    {
        "id": "d8cf805b2d1583e2",
        "type": "mqtt in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "conveyor_request",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "6f515c785e1a9d28",
                "3264ed2187706538"
            ]
        ]
    },
    {
        "id": "1f9d3852a868c2a4",
        "type": "mqtt out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "conveyor_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "90447ed9e6f95e3e",
        "type": "http in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "url": "/conveyor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "0c7a7bafd7149f80",
        "type": "http response",
        "z": "e07793e1b4a429a0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c9ff283a08ae041",
        "type": "function",
        "z": "e07793e1b4a429a0",
        "name": "HTTP Processor",
        "func": "if(msg.payload != \"done\")\n{\n    context.set(\"message\", msg)\n    context.set(\"isHttp\", true)\n    return [null, msg.payload]\n}\nelse if(context.get(\"isHttp\"))\n{\n    var newMsg = context.get(\"message\")\n    newMsg.payload = \"done\"\n    return[newMsg, null]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"isHttp\", false)",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "0c7a7bafd7149f80"
            ],
            [
                "6f515c785e1a9d28",
                "3264ed2187706538"
            ]
        ]
    },
    {
        "id": "b06cd63526734600",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "done",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "1f9d3852a868c2a4",
                "4b8f99de15735f3d",
                "7c9ff283a08ae041"
            ]
        ]
    },
    {
        "id": "3264ed2187706538",
        "type": "function",
        "z": "e07793e1b4a429a0",
        "name": "Conveyor Skill Processor",
        "func": "var skill = msg.payload\nvar start_pos = parseInt(skill.split('#TOKEN#')[0].replace('C',''))\nvar end_pos_str = skill.split('#TOKEN#')[1]\nvar end_pos = parseInt(end_pos_str.replace('C',''))\n\nvar newMsg = {destiny: end_pos_str,\n              C1: 0,\n              C2: 0,\n              C3: 0,\n              C4: 0}\n\nif(start_pos < end_pos){\n    for(let i = start_pos; i <= end_pos; i++)\n    {\n        newMsg['C'.concat(i.toString())] = 1\n    }\n\n}else{\n    for(let i = end_pos; i <= start_pos; i++)\n    {\n        newMsg['C'.concat(i.toString())] = -1\n    }\n    \n}\n\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "b492803c0955eef4"
            ]
        ]
    },
    {
        "id": "8a1a5e75a4c085df",
        "type": "debug",
        "z": "e07793e1b4a429a0",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "88de60915b2c4cc0",
        "type": "inject",
        "z": "e07793e1b4a429a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "22c0522ffbfab314"
            ]
        ]
    },
    {
        "id": "22c0522ffbfab314",
        "type": "link out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "mode": "link",
        "links": [
            "2a08d4e64615c2f9",
            "7980f1e194e1a538",
            "9e241e364f142ad4",
            "e297cf38aedd2c73"
        ],
        "x": 755,
        "y": 240,
        "wires": []
    },
    {
        "id": "b492803c0955eef4",
        "type": "subflow:61ed63e881cb1be8",
        "z": "e07793e1b4a429a0",
        "name": "",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "8a1a5e75a4c085df"
            ]
        ]
    },
    {
        "id": "47cfeb8b6739febc",
        "type": "subflow:c0c7a554af9cee83",
        "z": "e07793e1b4a429a0",
        "name": "",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "3c1e6849aa9fea54"
            ]
        ]
    },
    {
        "id": "ce219047dd509677",
        "type": "subflow:37c4daa8aceb3f4d",
        "z": "e07793e1b4a429a0",
        "name": "",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "1785f6cb601b319c"
            ]
        ]
    },
    {
        "id": "ad1fe058285526ea",
        "type": "mqtt in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "station_3_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "ce219047dd509677"
            ]
        ]
    },
    {
        "id": "46538a56cd25dfb3",
        "type": "mqtt in",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "station_4_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "6917849bd289e824",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "47cfeb8b6739febc"
            ]
        ]
    },
    {
        "id": "1785f6cb601b319c",
        "type": "mqtt out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "station_3_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "3c1e6849aa9fea54",
        "type": "mqtt out",
        "z": "e07793e1b4a429a0",
        "name": "",
        "topic": "station_4_response",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6917849bd289e824",
        "x": 1060,
        "y": 680,
        "wires": []
    },
    {
        "id": "1427a2a157ac5bfd",
        "type": "websocket-listener",
        "path": "/conveyor",
        "wholemsg": "false"
    },
    {
        "id": "6917849bd289e824",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.250.201",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    }
]