Project/node_red/Kit Nodes/Manual Control.json
[{"id":"198a29a38df71d76","type":"tab","label":"Manual Control","disabled":false,"info":"","env":[]},{"id":"2d417ba4168f2175","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":760,"wires":[]},{"id":"8228f04ae6830b19","type":"comment","z":"198a29a38df71d76","name":"Sation_4","info":"","x":1000,"y":660,"wires":[]},{"id":"019f3deda593636b","type":"link in","z":"198a29a38df71d76","name":"Station_4_action","links":[],"x":1020,"y":1340,"wires":[["a5f935de3c16ff46","0df9e28ad5479fc4"]],"l":true},{"id":"a5f935de3c16ff46","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_5_i04","overwritevalue":false,"outputvalue":"","x":1590,"y":1340,"wires":[]},{"id":"19ac62b930e0cfa5","type":"link in","z":"198a29a38df71d76","name":"Conveyor_1_right","links":[],"x":170,"y":1540,"wires":[["dd9b4fa4dfa7b90e","eb7da44a1bf0d07e"]],"l":true},{"id":"dd9b4fa4dfa7b90e","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1540,"wires":[]},{"id":"b01adfbb7d09961f","type":"comment","z":"198a29a38df71d76","name":"Conveyor_1","info":"","x":150,"y":1500,"wires":[]},{"id":"5be3d5112a60d3f6","type":"link in","z":"198a29a38df71d76","name":"Conveyor_1_left","links":[],"x":160,"y":1640,"wires":[["ff9ad85fcafda4f8","1822d1c2f1c55187"]],"l":true},{"id":"ff9ad85fcafda4f8","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1640,"wires":[]},{"id":"8ea0ecf16a419aa3","type":"link in","z":"198a29a38df71d76","name":"Conveyor_2_right","links":[],"x":810,"y":1540,"wires":[["f41726880f9e1d87","d6e86d286e60e444"]],"l":true},{"id":"f41726880f9e1d87","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":1540,"wires":[]},{"id":"55caafe9c7675641","type":"comment","z":"198a29a38df71d76","name":"Conveyor_2","info":"","x":790,"y":1500,"wires":[]},{"id":"6bd696881489504c","type":"link in","z":"198a29a38df71d76","name":"Conveyor_2_left","links":["f38b2526c481081a"],"x":800,"y":1640,"wires":[["43a41033f8167ac4","39ec098dff0bcdba"]],"l":true},{"id":"43a41033f8167ac4","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":1150,"y":1640,"wires":[]},{"id":"ae664096e1fd5c1a","type":"link in","z":"198a29a38df71d76","name":"Conveyor_3_right","links":["a24857b39da97858"],"x":170,"y":1940,"wires":[["a586129807ee3505","9037720326ef16a3"]],"l":true},{"id":"a586129807ee3505","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":500,"y":1940,"wires":[]},{"id":"eea304884b984da5","type":"comment","z":"198a29a38df71d76","name":"Conveyor_3","info":"","x":150,"y":1900,"wires":[]},{"id":"0b504547bcd73eac","type":"link in","z":"198a29a38df71d76","name":"Conveyor_3_left","links":["87effb9f7add0cf6"],"x":160,"y":2040,"wires":[["513876e3a055fa15","a4fe580f77819dd2"]],"l":true},{"id":"513876e3a055fa15","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":500,"y":2040,"wires":[]},{"id":"6c15759f6d46d1ab","type":"link in","z":"198a29a38df71d76","name":"Conveyor_4_right","links":["bf116a9f4c7ca0d2"],"x":810,"y":1940,"wires":[["03c0623ab05ee831","9774ce72c62e46aa"]],"l":true},{"id":"03c0623ab05ee831","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":1940,"wires":[]},{"id":"1aaea3a9a404e247","type":"comment","z":"198a29a38df71d76","name":"Conveyor_4","info":"","x":790,"y":1900,"wires":[]},{"id":"a6c50387870e58be","type":"link in","z":"198a29a38df71d76","name":"Conveyor_4_left","links":["b4c31dcc52993da9"],"x":800,"y":2040,"wires":[["0920727369852df7","2d97c409c503c083"]],"l":true},{"id":"1c822bb5b414cfe6","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":1980,"wires":[]},{"id":"eb7da44a1bf0d07e","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":1580,"wires":[["87512a7579f452ef"]]},{"id":"1822d1c2f1c55187","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":1680,"wires":[["29922eec70564af9"]]},{"id":"87512a7579f452ef","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1580,"wires":[]},{"id":"29922eec70564af9","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1680,"wires":[]},{"id":"9037720326ef16a3","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":1980,"wires":[["4db06e44f1f93286"]]},{"id":"a4fe580f77819dd2","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":2080,"wires":[["8bac797ba63b2e95"]]},{"id":"4db06e44f1f93286","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":500,"y":1980,"wires":[]},{"id":"8bac797ba63b2e95","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":500,"y":2080,"wires":[]},{"id":"9b72ed8e89cd2d3d","type":"link in","z":"198a29a38df71d76","name":"Conveyor_1_stop","links":["733fdfa6d9ad85cd","22c0522ffbfab314"],"x":170,"y":1760,"wires":[["6678c90b69bab896"]],"l":true},{"id":"6678c90b69bab896","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":1760,"wires":[["1e7c63dcba7db9ee","eb3c36e562456c23"]]},{"id":"1e7c63dcba7db9ee","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1740,"wires":[]},{"id":"eb3c36e562456c23","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":510,"y":1780,"wires":[]},{"id":"2006ec52259d503c","type":"link in","z":"198a29a38df71d76","name":"Conveyor_3_stop","links":[],"x":170,"y":2160,"wires":[["0304e2c82e9c86e6"]],"l":true},{"id":"0304e2c82e9c86e6","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":350,"y":2160,"wires":[["115d87f0de7765cf","c8e708efbb4996e1"]]},{"id":"115d87f0de7765cf","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":500,"y":2140,"wires":[]},{"id":"c8e708efbb4996e1","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":500,"y":2180,"wires":[]},{"id":"d6e86d286e60e444","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":1580,"wires":[["503042e2bc456024"]]},{"id":"503042e2bc456024","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":1150,"y":1580,"wires":[]},{"id":"39ec098dff0bcdba","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":1680,"wires":[["254db3f547355449"]]},{"id":"254db3f547355449","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":1680,"wires":[]},{"id":"9774ce72c62e46aa","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":1980,"wires":[["1c822bb5b414cfe6"]]},{"id":"0920727369852df7","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":2080,"wires":[["65e9329849f7cda3"]]},{"id":"aa40b0c4f313777a","type":"link in","z":"198a29a38df71d76","name":"Conveyor_4_stop","links":["733fdfa6d9ad85cd","22c0522ffbfab314"],"x":810,"y":2160,"wires":[["570e397b33ba4e5d"]],"l":true},{"id":"570e397b33ba4e5d","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":2160,"wires":[["43e7dfb7611fea53","e649398b1aaf0fc3"]]},{"id":"65e9329849f7cda3","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":2080,"wires":[]},{"id":"2d97c409c503c083","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":2040,"wires":[]},{"id":"e649398b1aaf0fc3","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":2180,"wires":[]},{"id":"43e7dfb7611fea53","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":2140,"wires":[]},{"id":"6f011d7084fd49de","type":"link in","z":"198a29a38df71d76","name":"Conveyor_2_stop","links":["733fdfa6d9ad85cd","22c0522ffbfab314"],"x":810,"y":1760,"wires":[["f9a364014d59ac59"]],"l":true},{"id":"f9a364014d59ac59","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":990,"y":1760,"wires":[["4b89fde4cbd38d25","84ebbeb546e0d5fc"]]},{"id":"4b89fde4cbd38d25","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":1140,"y":1740,"wires":[]},{"id":"84ebbeb546e0d5fc","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":1150,"y":1780,"wires":[]},{"id":"493d622351ea9a1b","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1510,"y":700,"wires":[["03950e0ded8b5886"]]},{"id":"03950e0ded8b5886","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":700,"wires":[]},{"id":"0df9e28ad5479fc4","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220,"y":1400,"wires":[["ebe61680c144886d"]]},{"id":"ebe61680c144886d","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1390,"y":1400,"wires":[["a5f935de3c16ff46","123ac6798fd575a4"]]},{"id":"688a3cea19bd51b8","type":"link out","z":"198a29a38df71d76","name":"Station_4_action","mode":"return","links":[],"x":1705,"y":1400,"wires":[]},{"id":"c0476ec8a57ed81a","type":"link call","z":"198a29a38df71d76","name":"","links":["730d99c6f7046b74"],"timeout":"30","x":1050,"y":80,"wires":[["a50ca62ed1c3e59d"]]},{"id":"47852515611689be","type":"inject","z":"198a29a38df71d76","name":"Station_4_up","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":830,"y":80,"wires":[["c0476ec8a57ed81a"]]},{"id":"a50ca62ed1c3e59d","type":"debug","z":"198a29a38df71d76","name":"Station 4 Up","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":80,"wires":[]},{"id":"730d99c6f7046b74","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_4_up","links":["e34a1d65517db73f"],"x":1030,"y":700,"wires":[["9d3e0226e322fc80","3240bd96b10f519d"]],"l":true},{"id":"4a0f754932bacd1e","type":"link in","z":"198a29a38df71d76","name":"Conveyor_1_sensor","links":[],"x":170,"y":1840,"wires":[["7d6ca9e9045a55c8"]],"l":true},{"id":"7de15b50a2949d84","type":"link out","z":"198a29a38df71d76","name":"Conveyor_1_sensor","mode":"return","links":[],"x":565,"y":1840,"wires":[]},{"id":"7d6ca9e9045a55c8","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_6_i03","topic":"","x":390,"y":1840,"wires":[["7de15b50a2949d84"]]},{"id":"98ebddb7b04145a8","type":"link in","z":"198a29a38df71d76","name":"Conveyor_3_sensor","links":[],"x":170,"y":2240,"wires":[["fcdd7154da2856ad"]],"l":true},{"id":"e156d60d72300381","type":"link out","z":"198a29a38df71d76","name":"Conveyor_3_sensor","mode":"return","links":[],"x":565,"y":2240,"wires":[]},{"id":"fcdd7154da2856ad","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_2_i03","topic":"","x":390,"y":2240,"wires":[["e156d60d72300381"]]},{"id":"9ceafd600b0b153f","type":"link in","z":"198a29a38df71d76","name":"Conveyor_2_sensor","links":[],"x":810,"y":1840,"wires":[["03c0fbcb0f1704f4"]],"l":true},{"id":"8af726f3295161d1","type":"link out","z":"198a29a38df71d76","name":"Conveyor_2_sensor","mode":"return","links":[],"x":1205,"y":1840,"wires":[]},{"id":"03c0fbcb0f1704f4","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_4_i03","topic":"","x":1030,"y":1840,"wires":[["8af726f3295161d1"]]},{"id":"54fcd740a4c177ac","type":"link in","z":"198a29a38df71d76","name":"Conveyor_4_sensor","links":[],"x":810,"y":2240,"wires":[["54eff1582acb7c94"]],"l":true},{"id":"b8346f66c5abb65b","type":"link out","z":"198a29a38df71d76","name":"Conveyor_4_sensor","mode":"return","links":[],"x":1205,"y":2240,"wires":[]},{"id":"54eff1582acb7c94","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_13_i03","topic":"","x":1030,"y":2240,"wires":[["b8346f66c5abb65b"]]},{"id":"04d08c0b772d1ed0","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1040,"y":780,"wires":[["a774b3b2fdfd0313"]]},{"id":"c1b6c22ec637705c","type":"link out","z":"198a29a38df71d76","name":"Move_Station_4_up","mode":"return","links":[],"x":1705,"y":820,"wires":[]},{"id":"9d3e0226e322fc80","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1250,"y":700,"wires":[["04d08c0b772d1ed0","2d417ba4168f2175","493d622351ea9a1b","3240bd96b10f519d"]]},{"id":"a774b3b2fdfd0313","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1250,"y":780,"wires":[["04d08c0b772d1ed0","2d417ba4168f2175","3240bd96b10f519d"]]},{"id":"ac491089dc76ad18","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":860,"wires":[]},{"id":"c276be73a983286a","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1510,"y":920,"wires":[["f59097c3aae8b7ec"]]},{"id":"f59097c3aae8b7ec","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":920,"wires":[]},{"id":"660f364cadce542c","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_4_down","links":[],"x":1040,"y":860,"wires":[["2bd7550abb99232a","43d81f8a390338a2"]],"l":true},{"id":"e0dab9cd74733116","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1040,"y":940,"wires":[["249c88c0652685e8"]]},{"id":"35d12692768cc4b0","type":"link out","z":"198a29a38df71d76","name":"Move_Station_4_down","mode":"return","links":[],"x":1705,"y":980,"wires":[]},{"id":"2bd7550abb99232a","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":1250,"y":860,"wires":[["e0dab9cd74733116","43d81f8a390338a2","ac491089dc76ad18","c276be73a983286a"]]},{"id":"249c88c0652685e8","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":1250,"y":940,"wires":[["e0dab9cd74733116","43d81f8a390338a2","ac491089dc76ad18"]]},{"id":"43d81f8a390338a2","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":980,"wires":[["ef8791faf9583b02"]]},{"id":"31dac75903342b27","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":1020,"wires":[]},{"id":"a94099e49170aaca","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1510,"y":1080,"wires":[["67bd0cd35f19fa70"]]},{"id":"67bd0cd35f19fa70","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":1080,"wires":[]},{"id":"e36aca80c0d77e80","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_4_front","links":[],"x":1040,"y":1020,"wires":[["af6caf19ffaeeaf5","453030c85ad627a2"]],"l":true},{"id":"547c34f411257e5c","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1040,"y":1100,"wires":[["9d764d9a7048b579"]]},{"id":"b946f135d2796e9d","type":"link out","z":"198a29a38df71d76","name":"Move_Station_4_front","mode":"return","links":[],"x":1705,"y":1140,"wires":[]},{"id":"af6caf19ffaeeaf5","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":1250,"y":1020,"wires":[["547c34f411257e5c","453030c85ad627a2","31dac75903342b27","a94099e49170aaca"]]},{"id":"9d764d9a7048b579","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":1250,"y":1100,"wires":[["547c34f411257e5c","453030c85ad627a2","31dac75903342b27"]]},{"id":"453030c85ad627a2","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1140,"wires":[["4970170b4a6e3979"]]},{"id":"76f1eefa6256f7fe","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":1180,"wires":[]},{"id":"b2738d4fe3a15c8b","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1510,"y":1240,"wires":[["46b4d88e7f786720"]]},{"id":"46b4d88e7f786720","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":1650,"y":1240,"wires":[]},{"id":"5f975142c613c238","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_4_back","links":[],"x":1040,"y":1180,"wires":[["e038a74d12b1c8f9","7cc857265ce76c29"]],"l":true},{"id":"4c531559da34e10c","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1040,"y":1260,"wires":[["1f469e03fd8c5129"]]},{"id":"c3f850b61c7e2e0e","type":"link out","z":"198a29a38df71d76","name":"Move_Station_4_back","mode":"return","links":[],"x":1705,"y":1300,"wires":[]},{"id":"e038a74d12b1c8f9","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1250,"y":1180,"wires":[["4c531559da34e10c","76f1eefa6256f7fe","b2738d4fe3a15c8b","7cc857265ce76c29"]]},{"id":"1f469e03fd8c5129","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1250,"y":1260,"wires":[["4c531559da34e10c","76f1eefa6256f7fe","7cc857265ce76c29"]]},{"id":"7cc857265ce76c29","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1300,"wires":[["84c01d0e8c452602"]]},{"id":"a89876665b7349fa","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":790,"y":700,"wires":[]},{"id":"627e25bcd8d7c558","type":"comment","z":"198a29a38df71d76","name":"Sation_3","info":"","x":140,"y":660,"wires":[]},{"id":"70f0e37c1da8837d","type":"link in","z":"198a29a38df71d76","name":"Station_3_action","links":[],"x":160,"y":1340,"wires":[["82e2d0d64299f188","63de877fcb4fba14"]],"l":true},{"id":"82e2d0d64299f188","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_2_i04","overwritevalue":false,"outputvalue":"","x":730,"y":1340,"wires":[]},{"id":"022d597b2d7c99d1","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":650,"y":760,"wires":[["264b82b7422f1845"]]},{"id":"264b82b7422f1845","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":790,"y":760,"wires":[]},{"id":"63de877fcb4fba14","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":1400,"wires":[["e922c61d119507f1"]]},{"id":"e922c61d119507f1","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":530,"y":1400,"wires":[["82e2d0d64299f188","22b4746e2979b90e"]]},{"id":"3f012adea6a477b8","type":"link out","z":"198a29a38df71d76","name":"Station_3_action","mode":"return","links":[],"x":845,"y":1400,"wires":[]},{"id":"b56ada238017625a","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_3_up","links":[],"x":170,"y":700,"wires":[["973f4fbe01846f71","0be9678c4fe44d8d"]],"l":true},{"id":"6761abde0e956c14","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":780,"wires":[["df994f87c5f9eac7"]]},{"id":"7c088314bb0585a2","type":"link out","z":"198a29a38df71d76","name":"Move_Station_3_up","mode":"return","links":[],"x":845,"y":820,"wires":[]},{"id":"973f4fbe01846f71","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":390,"y":700,"wires":[["6761abde0e956c14","0be9678c4fe44d8d","a89876665b7349fa","022d597b2d7c99d1"]]},{"id":"df994f87c5f9eac7","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":390,"y":780,"wires":[["6761abde0e956c14","0be9678c4fe44d8d","a89876665b7349fa"]]},{"id":"0be9678c4fe44d8d","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":820,"wires":[["00a7b2f6a1fa4c8c"]]},{"id":"540c444bd4e5bff0","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":790,"y":860,"wires":[]},{"id":"71204850781bfb7a","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":650,"y":920,"wires":[["5c7dbcc94449c0d1"]]},{"id":"5c7dbcc94449c0d1","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":790,"y":920,"wires":[]},{"id":"f95c64c353286be5","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_3_down","links":[],"x":180,"y":860,"wires":[["1a4a3f9a74d54caf","d0bd653f3b7efa85"]],"l":true},{"id":"a5c4b1fa2f8df029","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":940,"wires":[["f8ea3eb55328ec0b"]]},{"id":"77b95885f10d4669","type":"link out","z":"198a29a38df71d76","name":"Move_Station_3_down","mode":"return","links":[],"x":845,"y":980,"wires":[]},{"id":"1a4a3f9a74d54caf","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":390,"y":860,"wires":[["a5c4b1fa2f8df029","d0bd653f3b7efa85","540c444bd4e5bff0","71204850781bfb7a"]]},{"id":"f8ea3eb55328ec0b","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":390,"y":940,"wires":[["a5c4b1fa2f8df029","d0bd653f3b7efa85","540c444bd4e5bff0"]]},{"id":"d0bd653f3b7efa85","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":980,"wires":[["6e82e6c75283f261"]]},{"id":"11efb99051f67f41","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":790,"y":1020,"wires":[]},{"id":"34f2899e6df22357","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":650,"y":1080,"wires":[["99af894b817c98d7"]]},{"id":"99af894b817c98d7","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":790,"y":1080,"wires":[]},{"id":"1b6e76bbbb319c97","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_3_front","links":[],"x":180,"y":1020,"wires":[["91fdd36771f15c2a","e33f3501144c015c"]],"l":true},{"id":"83cb39c6e4dbdb62","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":1100,"wires":[["c280ef622647506b"]]},{"id":"7ce7817eb0974622","type":"link out","z":"198a29a38df71d76","name":"Move_Station_3_front","mode":"return","links":[],"x":845,"y":1140,"wires":[]},{"id":"91fdd36771f15c2a","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":390,"y":1020,"wires":[["83cb39c6e4dbdb62","e33f3501144c015c","11efb99051f67f41","34f2899e6df22357"]]},{"id":"c280ef622647506b","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":390,"y":1100,"wires":[["83cb39c6e4dbdb62","e33f3501144c015c","11efb99051f67f41"]]},{"id":"e33f3501144c015c","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1140,"wires":[["1700b6cbe5c454f8"]]},{"id":"6296c548fb220b74","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":790,"y":1180,"wires":[]},{"id":"841d26f34c0eee5e","type":"template","z":"198a29a38df71d76","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":650,"y":1240,"wires":[["b68bddb40cf4bb54"]]},{"id":"b68bddb40cf4bb54","type":"revpi-output","z":"198a29a38df71d76","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":790,"y":1240,"wires":[]},{"id":"5f2b13a37b586f99","type":"link in","z":"198a29a38df71d76","name":"Move_Sation_3_back","links":[],"x":180,"y":1180,"wires":[["891b02353efea33f","fd30a2dfc7399e45"]],"l":true},{"id":"db9c28d721b96318","type":"trigger","z":"198a29a38df71d76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":180,"y":1260,"wires":[["ba38c7a434123845"]]},{"id":"08679b9a0f9e70a9","type":"link out","z":"198a29a38df71d76","name":"Move_Station_3_back","mode":"return","links":[],"x":845,"y":1300,"wires":[]},{"id":"891b02353efea33f","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":390,"y":1180,"wires":[["db9c28d721b96318","fd30a2dfc7399e45","6296c548fb220b74","841d26f34c0eee5e"]]},{"id":"ba38c7a434123845","type":"revpi-getpin","z":"198a29a38df71d76","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":390,"y":1260,"wires":[["db9c28d721b96318","fd30a2dfc7399e45","6296c548fb220b74"]]},{"id":"fd30a2dfc7399e45","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1300,"wires":[["84202faeae0c47dc"]]},{"id":"177407ce92e32a48","type":"link call","z":"198a29a38df71d76","name":"","links":["660f364cadce542c"],"timeout":"30","x":1060,"y":120,"wires":[["03e7925d0004f179"]]},{"id":"5b632a81e79364c2","type":"inject","z":"198a29a38df71d76","name":"Station_4_down","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":120,"wires":[["177407ce92e32a48"]]},{"id":"03e7925d0004f179","type":"debug","z":"198a29a38df71d76","name":"Station 4 Down","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":120,"wires":[]},{"id":"ad6890db6ea049e5","type":"link call","z":"198a29a38df71d76","name":"","links":["e36aca80c0d77e80"],"timeout":"30","x":1060,"y":160,"wires":[["51dd18580b9b8a9d"]]},{"id":"3865a830c12ebc67","type":"inject","z":"198a29a38df71d76","name":"Station_4_front","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":160,"wires":[["ad6890db6ea049e5"]]},{"id":"51dd18580b9b8a9d","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":160,"wires":[]},{"id":"988182a7e14f8f6f","type":"link call","z":"198a29a38df71d76","name":"","links":["5f975142c613c238"],"timeout":"30","x":1060,"y":200,"wires":[["bbd4874a7f9134f9"]]},{"id":"c53e9b26887f8375","type":"inject","z":"198a29a38df71d76","name":"Station_4_back","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":200,"wires":[["988182a7e14f8f6f"]]},{"id":"bbd4874a7f9134f9","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":200,"wires":[]},{"id":"a7f67c1f232fed6e","type":"link call","z":"198a29a38df71d76","name":"","links":["b56ada238017625a"],"timeout":"30","x":370,"y":80,"wires":[["06fc6e3617ea21c7"]]},{"id":"1ec617881221c810","type":"inject","z":"198a29a38df71d76","name":"Station_3_up","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["a7f67c1f232fed6e"]]},{"id":"06fc6e3617ea21c7","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"9539748fbb9ac8da","type":"link call","z":"198a29a38df71d76","name":"","links":["f95c64c353286be5"],"timeout":"30","x":380,"y":120,"wires":[["31985a39fac98af7"]]},{"id":"771344287ec18261","type":"inject","z":"198a29a38df71d76","name":"Station_3_down","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["9539748fbb9ac8da"]]},{"id":"31985a39fac98af7","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"a71156406cc340d0","type":"link call","z":"198a29a38df71d76","name":"","links":["1b6e76bbbb319c97"],"timeout":"30","x":380,"y":160,"wires":[["b65376f0e88bd9ca"]]},{"id":"9a3cea3f07ab27df","type":"inject","z":"198a29a38df71d76","name":"Station_3_front","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["a71156406cc340d0"]]},{"id":"b65376f0e88bd9ca","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"6ef411b2abd20870","type":"link call","z":"198a29a38df71d76","name":"","links":["5f2b13a37b586f99"],"timeout":"30","x":380,"y":200,"wires":[["ecc45e6ccee23635"]]},{"id":"7027b0e24928978c","type":"inject","z":"198a29a38df71d76","name":"Station_3_back","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["6ef411b2abd20870"]]},{"id":"ecc45e6ccee23635","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"4a4548a2525e05cf","type":"link call","z":"198a29a38df71d76","name":"","links":["70f0e37c1da8837d"],"timeout":"30","x":370,"y":280,"wires":[["6a803d342f64d736"]]},{"id":"b5e049483b39b96b","type":"inject","z":"198a29a38df71d76","name":"Station_3_action","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["4a4548a2525e05cf"]]},{"id":"6a803d342f64d736","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"4d74aaa4d7302989","type":"link call","z":"198a29a38df71d76","name":"","links":["019f3deda593636b"],"timeout":"30","x":1050,"y":280,"wires":[["d525a37efa7f6652"]]},{"id":"e0b761a231ece7d6","type":"inject","z":"198a29a38df71d76","name":"Station_4_action","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":280,"wires":[["4d74aaa4d7302989"]]},{"id":"d525a37efa7f6652","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":280,"wires":[]},{"id":"3240bd96b10f519d","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":820,"wires":[["2848de7e92f6f30d"]]},{"id":"2848de7e92f6f30d","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1590,"y":820,"wires":[["c1b6c22ec637705c"]]},{"id":"ef8791faf9583b02","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1590,"y":980,"wires":[["35d12692768cc4b0"]]},{"id":"4970170b4a6e3979","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1590,"y":1140,"wires":[["b946f135d2796e9d"]]},{"id":"84c01d0e8c452602","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1590,"y":1300,"wires":[["c3f850b61c7e2e0e"]]},{"id":"123ac6798fd575a4","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":1400,"wires":[["688a3cea19bd51b8"]]},{"id":"b246b11fb1f54157","type":"inject","z":"198a29a38df71d76","name":"Station_4_stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":240,"wires":[[]]},{"id":"64e247e17d99c1c1","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":240,"wires":[]},{"id":"3a9bf9adae42b101","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"ff6e495a55821156","type":"inject","z":"198a29a38df71d76","name":"Station_3_stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[[]]},{"id":"22b4746e2979b90e","type":"function","z":"198a29a38df71d76","name":"Filter","func":"if(\"_linkSource\" in msg)\n{\n    context.set(\"linkSource\", msg._linkSource)\n}\n\nif(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    msg._linkSource = context.get(\"linkSource\")\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1400,"wires":[["3f012adea6a477b8"]]},{"id":"84202faeae0c47dc","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":1300,"wires":[["08679b9a0f9e70a9"]]},{"id":"1700b6cbe5c454f8","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":1140,"wires":[["7ce7817eb0974622"]]},{"id":"6e82e6c75283f261","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":980,"wires":[["77b95885f10d4669"]]},{"id":"00a7b2f6a1fa4c8c","type":"delay","z":"198a29a38df71d76","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":820,"wires":[["7c088314bb0585a2"]]},{"id":"2cbc589c8fea574a","type":"inject","z":"198a29a38df71d76","name":"Conveyor_1_Right","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["99fcfe9961848763"]]},{"id":"99fcfe9961848763","type":"link call","z":"198a29a38df71d76","name":"","links":["19ac62b930e0cfa5"],"timeout":"30","x":370,"y":340,"wires":[["485f78de6c20696f"]]},{"id":"485f78de6c20696f","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"a1a65af7661c65e2","type":"inject","z":"198a29a38df71d76","name":"Conveyor_1_Left","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["d5d1593a4963d294"]]},{"id":"d5d1593a4963d294","type":"link call","z":"198a29a38df71d76","name":"","links":["5be3d5112a60d3f6"],"timeout":"30","x":370,"y":380,"wires":[["253abca486e20b1a"]]},{"id":"253abca486e20b1a","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"274c1be1c447abce","type":"inject","z":"198a29a38df71d76","name":"Conveyor_1_Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":420,"wires":[["c7ff4133c0df7ab1"]]},{"id":"c7ff4133c0df7ab1","type":"link call","z":"198a29a38df71d76","name":"","links":["9b72ed8e89cd2d3d"],"timeout":"30","x":370,"y":420,"wires":[["5de53596afa54b2d"]]},{"id":"5de53596afa54b2d","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"44c19d58f2d86818","type":"inject","z":"198a29a38df71d76","name":"Conveyor_2_Right","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":480,"wires":[["e41aa7c5954fb127"]]},{"id":"e41aa7c5954fb127","type":"link call","z":"198a29a38df71d76","name":"","links":["8ea0ecf16a419aa3"],"timeout":"30","x":370,"y":480,"wires":[["2b5b80f730d64805"]]},{"id":"2b5b80f730d64805","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"c0c57419de1ee9c7","type":"inject","z":"198a29a38df71d76","name":"Conveyor_2_Left","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[["a9cce1f3356b9378"]]},{"id":"a9cce1f3356b9378","type":"link call","z":"198a29a38df71d76","name":"","links":["6bd696881489504c"],"timeout":"30","x":370,"y":520,"wires":[["ca5ee5aa674d4eae"]]},{"id":"ca5ee5aa674d4eae","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"3026ff7d0f45f7e4","type":"inject","z":"198a29a38df71d76","name":"Conveyor_2_Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":560,"wires":[["371ecf5c4ed2752b"]]},{"id":"371ecf5c4ed2752b","type":"link call","z":"198a29a38df71d76","name":"","links":["6f011d7084fd49de"],"timeout":"30","x":370,"y":560,"wires":[["e6dab55174e45841"]]},{"id":"e6dab55174e45841","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"ba9f5f6ade873e74","type":"inject","z":"198a29a38df71d76","name":"Conveyor_3_Right","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":340,"wires":[["f3977881bcc91cfb"]]},{"id":"f3977881bcc91cfb","type":"link call","z":"198a29a38df71d76","name":"","links":["ae664096e1fd5c1a"],"timeout":"30","x":1050,"y":340,"wires":[["222927003e488f12"]]},{"id":"222927003e488f12","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":340,"wires":[]},{"id":"b029627e696e94a6","type":"inject","z":"198a29a38df71d76","name":"Conveyor_3_Left","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":380,"wires":[["8d1f6dd7bdda2be6"]]},{"id":"8d1f6dd7bdda2be6","type":"link call","z":"198a29a38df71d76","name":"","links":["0b504547bcd73eac"],"timeout":"30","x":1050,"y":380,"wires":[["0be2486feceff6ae"]]},{"id":"0be2486feceff6ae","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":380,"wires":[]},{"id":"e887398a4eaadd98","type":"inject","z":"198a29a38df71d76","name":"Conveyor_3_Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":420,"wires":[["8b7689ee8a0cf112"]]},{"id":"8b7689ee8a0cf112","type":"link call","z":"198a29a38df71d76","name":"","links":["2006ec52259d503c"],"timeout":"30","x":1050,"y":420,"wires":[["d7d4de865f98c214"]]},{"id":"d7d4de865f98c214","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":420,"wires":[]},{"id":"45e3a2b96931209f","type":"inject","z":"198a29a38df71d76","name":"Conveyor_4_Right","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":480,"wires":[["639af8396bafce33"]]},{"id":"639af8396bafce33","type":"link call","z":"198a29a38df71d76","name":"","links":["6c15759f6d46d1ab"],"timeout":"30","x":1050,"y":480,"wires":[["be7c6c81836dc98f"]]},{"id":"be7c6c81836dc98f","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":480,"wires":[]},{"id":"af0735b0ea6f5536","type":"inject","z":"198a29a38df71d76","name":"Conveyor_4_Left","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":520,"wires":[["04651179ef4b9bc0"]]},{"id":"04651179ef4b9bc0","type":"link call","z":"198a29a38df71d76","name":"","links":["a6c50387870e58be"],"timeout":"30","x":1050,"y":520,"wires":[["d2fcd478ed160f65"]]},{"id":"d2fcd478ed160f65","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":520,"wires":[]},{"id":"fd501e94821fb022","type":"inject","z":"198a29a38df71d76","name":"Conveyor_4_Stop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":560,"wires":[["c74423317d8f17dc"]]},{"id":"c74423317d8f17dc","type":"link call","z":"198a29a38df71d76","name":"","links":["aa40b0c4f313777a"],"timeout":"30","x":1050,"y":560,"wires":[["0258d66d3ce6ad8f"]]},{"id":"0258d66d3ce6ad8f","type":"debug","z":"198a29a38df71d76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":560,"wires":[]},{"id":"881e060a.9b5288","type":"revpi-server","host":"localhost","port":"8000","user":"","password":"","rejectUnauthorized":false,"ca":""}]