Project/node_red/Kit Nodes/OPCUA Server.json
[{"id":"c8f484790219fc6a","type":"tab","label":"OPCUA Server2","disabled":false,"info":"","env":[]},{"id":"800d889bd25303fd","type":"OpcUa-Server","z":"c8f484790219fc6a","port":"53880","name":"","endpoint":"","users":"users.json","nodesetDir":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":false,"allowAnonymous":true,"endpointNone":true,"endpointSign":false,"endpointSignEncrypt":false,"endpointBasic128Rsa15":false,"endpointBasic256":false,"endpointBasic256Sha256":false,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"maxConnectionsPerEndpoint":20,"maxMessageSize":4096,"maxBufferSize":4096,"maxSessions":20,"x":680,"y":220,"wires":[["5dcfecb80dcdd6bc"]]},{"id":"5dcfecb80dcdd6bc","type":"debug","z":"c8f484790219fc6a","name":"Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"a4c7ae56b2bbcc04","type":"function","z":"c8f484790219fc6a","name":"Add Conveyor","func":"var msg0 = {topic: \"ns=1;s=Devices\", payload: {\"opcuaCommand\": \"addFolder\"}}\n\nvar msg1 = {topic: \"ns=1;s=Conveyor\", payload: {\"opcuaCommand\": \"addFolder\"}}\n\nvar msg2 = {topic: \"ns=1;s=Conveyor_Req;datatype=String\", payload: {\"opcuaCommand\": \"addVariable\" } }\n\nvar msg3 = {topic: \"ns=1;s=Conveyor_Res;datatype=String\", payload: {\"opcuaCommand\": \"addVariable\" } }\n\nvar msg4 = {topic: \"ns=1;s=Devices\", payload: {\"opcuaCommand\": \"setFolder\"}}\n\nvar msg5 = {topic: \"ns=1;s=Station3\", payload: { \"opcuaCommand\": \"addFolder\" } }\n\nvar msg6 = {topic: \"ns=1;s=Station3_Req;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nvar msg7 = {topic: \"ns=1;s=Station3_Res;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nvar msg8 = {topic: \"ns=1;s=Station4\", payload:{\"opcuaCommand\":\"addFolder\"}}\n\nvar msg9 = {topic: \"ns=1;s=Staton4_Req;datatype=String\", payload:{\"opcuaCommand\":\"addVariable\"}}\n\nvar msg10 = { topic: \"ns=1;s=Staton4_Res;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg4, msg8, msg9, msg10, msg4]","outputs":13,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"],["800d889bd25303fd"]]},{"id":"b7cf3cb6c23158bf","type":"inject","z":"c8f484790219fc6a","name":"Setup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["a4c7ae56b2bbcc04"]]},{"id":"c8732905ae593e03","type":"inject","z":"c8f484790219fc6a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["a80aa6a4994ed703"]]},{"id":"a80aa6a4994ed703","type":"template","z":"c8f484790219fc6a","name":"Users","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"username\": \"user\",\n    \"password\": \"pass\",\n    \"role\": \"Administrator\"\n}","output":"str","x":430,"y":80,"wires":[["800d889bd25303fd"]]}]