Project/node_red/Kit Nodes/OPCUA Server.json
[
    {
        "id": "c8f484790219fc6a",
        "type": "tab",
        "label": "OPCUA Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5dcfecb80dcdd6bc",
        "type": "debug",
        "z": "c8f484790219fc6a",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "a4c7ae56b2bbcc04",
        "type": "function",
        "z": "c8f484790219fc6a",
        "name": "Add Variables",
        "func": "var msg0 = {topic: \"ns=1;s=Devices\", payload: {\"opcuaCommand\": \"addFolder\"}}\n\nvar msg1 = {topic: \"ns=1;s=Conveyor\", payload: {\"opcuaCommand\": \"addFolder\"}}\n\nvar msg2 = {topic: \"ns=1;s=Conveyor_Req;datatype=String\", payload: {\"opcuaCommand\": \"addVariable\" } }\n\nvar msg3 = {topic: \"ns=1;s=Conveyor_Res;datatype=String\", payload: {\"opcuaCommand\": \"addVariable\" } }\n\nvar msg4 = {topic: \"ns=1;s=Devices\", payload: {\"opcuaCommand\": \"setFolder\"}}\n\nvar msg5 = {topic: \"ns=1;s=Station3\", payload: { \"opcuaCommand\": \"addFolder\" } }\n\nvar msg6 = {topic: \"ns=1;s=Station3_Req;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nvar msg7 = {topic: \"ns=1;s=Station3_Res;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nvar msg8 = {topic: \"ns=1;s=Station4\", payload:{\"opcuaCommand\":\"addFolder\"}}\n\nvar msg9 = {topic: \"ns=1;s=Staton4_Req;datatype=String\", payload:{\"opcuaCommand\":\"addVariable\"}}\n\nvar msg10 = { topic: \"ns=1;s=Staton4_Res;datatype=String\", payload: { \"opcuaCommand\": \"addVariable\" } }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg4, msg8, msg9, msg10, msg4]",
        "outputs": 13,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ],
            [
                "c2dc3a62f76811c2"
            ]
        ]
    },
    {
        "id": "b7cf3cb6c23158bf",
        "type": "inject",
        "z": "c8f484790219fc6a",
        "name": "Setup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "a4c7ae56b2bbcc04"
            ]
        ]
    },
    {
        "id": "c8732905ae593e03",
        "type": "inject",
        "z": "c8f484790219fc6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "a80aa6a4994ed703"
            ]
        ]
    },
    {
        "id": "a80aa6a4994ed703",
        "type": "template",
        "z": "c8f484790219fc6a",
        "name": "Users",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"username\": \"teste\",\n    \"password\": \"1234\",\n    \"role\": \"administrator\"\n}",
        "output": "str",
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "31e41ce28fed0c60",
        "type": "inject",
        "z": "c8f484790219fc6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a",
        "payloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "e47f9fe509aeb8d7"
            ]
        ]
    },
    {
        "id": "660b1e3f6483f8f7",
        "type": "debug",
        "z": "c8f484790219fc6a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "e47f9fe509aeb8d7",
        "type": "file in",
        "z": "c8f484790219fc6a",
        "name": "",
        "filename": "/home/pi/.config/node-opcua-default-nodejs/PKI/own/certs/client_certificate.pem",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 580,
        "y": 480,
        "wires": [
            [
                "660b1e3f6483f8f7"
            ]
        ]
    },
    {
        "id": "c2dc3a62f76811c2",
        "type": "OpcUa-Server",
        "z": "c8f484790219fc6a",
        "port": "53880",
        "name": "Server",
        "endpoint": "",
        "users": "users.json",
        "nodesetDir": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": true,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": false,
        "endpointSignEncrypt": false,
        "endpointBasic128Rsa15": false,
        "endpointBasic256": false,
        "endpointBasic256Sha256": false,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": 0,
        "maxNodesPerWrite": 0,
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "maxConnectionsPerEndpoint": 20,
        "maxMessageSize": 4096,
        "maxBufferSize": 4096,
        "maxSessions": 20,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "5dcfecb80dcdd6bc"
            ]
        ]
    }
]