Project/node_red/Kit Nodes/Station 3 Controller.json
[
    {
        "id": "37c4daa8aceb3f4d",
        "type": "subflow",
        "name": "Station3_Controller",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 220,
                "wires": [
                    {
                        "id": "c2e7da3a42a9d883"
                    },
                    {
                        "id": "e5b448eda0a3c3b6"
                    },
                    {
                        "id": "4726fd20535997f3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2460,
                "y": 220,
                "wires": [
                    {
                        "id": "1f2d3238330b608b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fa84750c32beb3fe",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 180,
        "wires": []
    },
    {
        "id": "85177f5cc76ee68c",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 100,
        "wires": [
            [
                "a5355da0e9275c72"
            ]
        ]
    },
    {
        "id": "a5355da0e9275c72",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b85cc333378eb2f",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "bbb17d8125e03314"
            ]
        ]
    },
    {
        "id": "bbb17d8125e03314",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "7c78dcaf04842325",
                "d92a5ee725628c5d"
            ]
        ]
    },
    {
        "id": "7c78dcaf04842325",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Finished",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "done",
        "output": "str",
        "x": 1440,
        "y": 220,
        "wires": [
            [
                "0a50ae73d77396cb",
                "7bf1cf64c1a69275"
            ]
        ]
    },
    {
        "id": "6d921b46a30934d1",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 100,
        "wires": [
            [
                "e9774632c8ba9807"
            ]
        ]
    },
    {
        "id": "0a50ae73d77396cb",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 1670,
        "y": 180,
        "wires": [
            [
                "6d921b46a30934d1",
                "fa84750c32beb3fe",
                "85177f5cc76ee68c",
                "fcfea4bbb4320aca"
            ]
        ]
    },
    {
        "id": "e9774632c8ba9807",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_3_i04",
        "topic": "",
        "x": 1670,
        "y": 100,
        "wires": [
            [
                "6d921b46a30934d1",
                "fa84750c32beb3fe",
                "fcfea4bbb4320aca"
            ]
        ]
    },
    {
        "id": "443ef21ac4e168fc",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "3051f079dacaaead"
            ]
        ]
    },
    {
        "id": "a9a99a4597f856f9",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "3f0b3f8ec30ee396"
            ]
        ]
    },
    {
        "id": "96cff26f87e37f07",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "3877d36a1e55a61e"
            ]
        ]
    },
    {
        "id": "24dff15f4a621c03",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "25dcd87f3fc3ada4"
            ]
        ]
    },
    {
        "id": "82ec3cebcd8880bd",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "c843ba2f81849a22"
            ]
        ]
    },
    {
        "id": "fcfea4bbb4320aca",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 40,
        "wires": [
            [
                "11f64aaa280b9f7e"
            ]
        ]
    },
    {
        "id": "d483413fa71ed9ed",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Front",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "30a7bfab03c94638",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Down",
        "info": "",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb2f35f427d7ec5b",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Station Action",
        "info": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "6eca212f557af503",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Up",
        "info": "",
        "x": 1440,
        "y": 60,
        "wires": []
    },
    {
        "id": "24a7907ea1b3915a",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1950,
        "y": 260,
        "wires": []
    },
    {
        "id": "b3126986376a851a",
        "type": "template",
        "z": "37c4daa8aceb3f4d",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "169562139c92da1d"
            ]
        ]
    },
    {
        "id": "169562139c92da1d",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 2070,
        "y": 320,
        "wires": []
    },
    {
        "id": "7643431089f51bc5",
        "type": "trigger",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "2ccb8a373968b8c1"
            ]
        ]
    },
    {
        "id": "7bf1cf64c1a69275",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 1670,
        "y": 260,
        "wires": [
            [
                "24a7907ea1b3915a",
                "b3126986376a851a",
                "7643431089f51bc5",
                "a20c24ec56088932"
            ]
        ]
    },
    {
        "id": "2ccb8a373968b8c1",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_5_i04",
        "topic": "",
        "x": 1670,
        "y": 340,
        "wires": [
            [
                "24a7907ea1b3915a",
                "7643431089f51bc5",
                "a20c24ec56088932"
            ]
        ]
    },
    {
        "id": "a20c24ec56088932",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 380,
        "wires": [
            [
                "750fc24ec7461b71"
            ]
        ]
    },
    {
        "id": "10024d236412c803",
        "type": "comment",
        "z": "37c4daa8aceb3f4d",
        "name": "Move Station Back",
        "info": "",
        "x": 1450,
        "y": 380,
        "wires": []
    },
    {
        "id": "356fd30153f6130d",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "6156d78a227aa8d1"
            ]
        ]
    },
    {
        "id": "11f64aaa280b9f7e",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 40,
        "wires": [
            [
                "1f2d3238330b608b"
            ]
        ]
    },
    {
        "id": "750fc24ec7461b71",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2070,
        "y": 380,
        "wires": [
            [
                "1f2d3238330b608b"
            ]
        ]
    },
    {
        "id": "c843ba2f81849a22",
        "type": "delay",
        "z": "37c4daa8aceb3f4d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "6156d78a227aa8d1"
            ]
        ]
    },
    {
        "id": "3c68cb8b22ce8f8a",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Filter",
        "func": "if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "356fd30153f6130d"
            ]
        ]
    },
    {
        "id": "6156d78a227aa8d1",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "9b85cc333378eb2f",
                "d92a5ee725628c5d"
            ]
        ]
    },
    {
        "id": "1f2d3238330b608b",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Wait for two messages",
        "func": "if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d92a5ee725628c5d",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i04",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 1430,
        "y": 180,
        "wires": []
    },
    {
        "id": "25dcd87f3fc3ada4",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "24dff15f4a621c03",
                "82ec3cebcd8880bd",
                "a47b686492fa27a9"
            ]
        ]
    },
    {
        "id": "a47b686492fa27a9",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_3_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "3877d36a1e55a61e",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_4_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f0b3f8ec30ee396",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "3c68cb8b22ce8f8a",
                "a9a99a4597f856f9",
                "7bc6a9708b95d945"
            ]
        ]
    },
    {
        "id": "c2e7da3a42a9d883",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_7_i04",
        "topic": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "24dff15f4a621c03",
                "82ec3cebcd8880bd",
                "96cff26f87e37f07",
                "a47b686492fa27a9"
            ]
        ]
    },
    {
        "id": "e5b448eda0a3c3b6",
        "type": "revpi-getpin",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_1_i04",
        "topic": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a9a99a4597f856f9",
                "443ef21ac4e168fc",
                "3c68cb8b22ce8f8a",
                "7bc6a9708b95d945"
            ]
        ]
    },
    {
        "id": "7bc6a9708b95d945",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_2_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "3051f079dacaaead",
        "type": "revpi-output",
        "z": "37c4daa8aceb3f4d",
        "server": "881e060a.9b5288",
        "outputpin": "O_1_i03",
        "overwritevalue": false,
        "outputvalue": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "4726fd20535997f3",
        "type": "function",
        "z": "37c4daa8aceb3f4d",
        "name": "Save Message",
        "func": "flow.set(\"message\", msg)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 220,
        "wires": []
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    }
]