Project/node_red/Kit Nodes/Sub_Flow Station4_Controller.json
[{"id":"bce7126c6efa8d81","type":"subflow","name":"Station4_Controller","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"5d9c4b56d92418b2"},{"id":"ab64f165f104bdf0"},{"id":"530440ba56fdbd79"}]}],"out":[{"x":2460,"y":220,"wires":[{"id":"0117dde1639cc336","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8248e994c2edacb2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":1950,"y":180,"wires":[]},{"id":"59289baec1d150ca","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":100,"wires":[["291ca6487295da57"]]},{"id":"291ca6487295da57","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":2070,"y":100,"wires":[]},{"id":"c3a64a8f6ccd6f2b","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":40,"wires":[["65524f2a435257c6"]]},{"id":"6dfc11ca5578dbe8","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Up","info":"","x":1440,"y":60,"wires":[]},{"id":"7e7d866caa8d9325","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":1950,"y":260,"wires":[]},{"id":"beafd77169e61678","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":320,"wires":[["34fe92cffbe882d2"]]},{"id":"34fe92cffbe882d2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":2070,"y":320,"wires":[]},{"id":"07e6a197051698d0","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":380,"wires":[["1768d83f88f60c66"]]},{"id":"65524f2a435257c6","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":40,"wires":[["0117dde1639cc336"]]},{"id":"1768d83f88f60c66","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":380,"wires":[["0117dde1639cc336"]]},{"id":"0117dde1639cc336","type":"function","z":"bce7126c6efa8d81","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":2300,"y":220,"wires":[[]]},{"id":"b2d46e49afb203df","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_5_i04","overwritevalue":false,"outputvalue":"","x":1430,"y":180,"wires":[]},{"id":"95d6b87c73032d41","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["6fc10a85defc9e33"]]},{"id":"6fc10a85defc9e33","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1290,"y":220,"wires":[["b2d46e49afb203df","8df9fa35a2392ee7"]]},{"id":"8df9fa35a2392ee7","type":"template","z":"bce7126c6efa8d81","name":"Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"done","output":"str","x":1440,"y":220,"wires":[["b78289e428e4b67c","9652fe862046d580"]]},{"id":"37889e25f73804d2","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":100,"wires":[["1ba787697d2351fa"]]},{"id":"b78289e428e4b67c","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1670,"y":180,"wires":[["37889e25f73804d2","8248e994c2edacb2","59289baec1d150ca","c3a64a8f6ccd6f2b"]]},{"id":"1ba787697d2351fa","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_10_i03","topic":"","x":1670,"y":100,"wires":[["37889e25f73804d2","8248e994c2edacb2","c3a64a8f6ccd6f2b"]]},{"id":"1937cce77ddb6f85","type":"comment","z":"bce7126c6efa8d81","name":"Station Action","info":"","x":950,"y":180,"wires":[]},{"id":"0dba61ae3a6cd105","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":340,"wires":[["8f275e740d659f26"]]},{"id":"9652fe862046d580","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1670,"y":260,"wires":[["0dba61ae3a6cd105","7e7d866caa8d9325","beafd77169e61678","07e6a197051698d0"]]},{"id":"8f275e740d659f26","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_12_i03","topic":"","x":1670,"y":340,"wires":[["0dba61ae3a6cd105","7e7d866caa8d9325","07e6a197051698d0"]]},{"id":"fc002e5284eacfaa","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Back","info":"","x":1450,"y":380,"wires":[]},{"id":"5693267bc7e2f1f0","type":"function","z":"bce7126c6efa8d81","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":980,"y":220,"wires":[["b2d46e49afb203df","95d6b87c73032d41"]]},{"id":"7274979dad45385b","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_3_i04","overwritevalue":false,"outputvalue":"","x":610,"y":260,"wires":[]},{"id":"7206e993df061852","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":320,"wires":[["c8f673958dcf12da"]]},{"id":"c8f673958dcf12da","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_6_i04","overwritevalue":false,"outputvalue":"","x":730,"y":320,"wires":[]},{"id":"5d6d0e9b3e4b6660","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":380,"wires":[["71f8d8ec2c6e528d"]]},{"id":"ab64f165f104bdf0","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":170,"y":260,"wires":[["7274979dad45385b","7206e993df061852","5d6d0e9b3e4b6660","f7577f8321741232"]]},{"id":"71f8d8ec2c6e528d","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_8_i03","topic":"","x":410,"y":380,"wires":[["7274979dad45385b","5d6d0e9b3e4b6660","f7577f8321741232"]]},{"id":"fd50ba33298713b8","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_1_i04","overwritevalue":false,"outputvalue":"","x":610,"y":180,"wires":[]},{"id":"f880bdc34117a69d","type":"template","z":"bce7126c6efa8d81","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":120,"wires":[["f0bbbd70de1604e2"]]},{"id":"f0bbbd70de1604e2","type":"revpi-output","z":"bce7126c6efa8d81","server":"881e060a.9b5288","outputpin":"O_4_i04","overwritevalue":false,"outputvalue":"","x":730,"y":120,"wires":[]},{"id":"a8ddd3850926a961","type":"trigger","z":"bce7126c6efa8d81","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":60,"wires":[["5f33c9a24da40975"]]},{"id":"5d9c4b56d92418b2","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":170,"y":180,"wires":[["fd50ba33298713b8","f880bdc34117a69d","a8ddd3850926a961","0d78c447aceb394d"]]},{"id":"5f33c9a24da40975","type":"revpi-getpin","z":"bce7126c6efa8d81","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_14_i03","topic":"","x":410,"y":60,"wires":[["fd50ba33298713b8","a8ddd3850926a961","0d78c447aceb394d"]]},{"id":"0d78c447aceb394d","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":60,"wires":[["63300ccbc2298af0"]]},{"id":"7896a6b806970d28","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Front","info":"","x":330,"y":120,"wires":[]},{"id":"c837b736bc1bb3e9","type":"comment","z":"bce7126c6efa8d81","name":"Move Station Down","info":"","x":330,"y":320,"wires":[]},{"id":"281b10313a921286","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":380,"wires":[["5693267bc7e2f1f0"]]},{"id":"63300ccbc2298af0","type":"delay","z":"bce7126c6efa8d81","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":60,"wires":[["5693267bc7e2f1f0"]]},{"id":"f7577f8321741232","type":"function","z":"bce7126c6efa8d81","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":380,"wires":[["281b10313a921286"]]},{"id":"530440ba56fdbd79","type":"function","z":"bce7126c6efa8d81","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":220,"wires":[]},{"id":"881e060a.9b5288","type":"revpi-server","host":"localhost","port":"8000","user":"","password":"","rejectUnauthorized":false,"ca":""}]