Project/node_red/Kit Nodes/Sub_Flow Station3_Controller.json
[{"id":"da7b91925b0f9fbc","type":"subflow","name":"Station3_Controller","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"204a10c254acf550"},{"id":"78f740257071ad7e"},{"id":"34485348ea051596"}]}],"out":[{"x":2460,"y":220,"wires":[{"id":"0e4960681bcd36a0","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e6282bd86e19b4c9","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":1950,"y":180,"wires":[]},{"id":"bb7ac10437bebb1c","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":100,"wires":[["e4c0de567f601157"]]},{"id":"e4c0de567f601157","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":2070,"y":100,"wires":[]},{"id":"122826f051d74d31","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["5484419a8e6b82b1"]]},{"id":"5484419a8e6b82b1","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1290,"y":220,"wires":[["4815f1ca5dc32254","57b9b572294edbd5"]]},{"id":"4815f1ca5dc32254","type":"template","z":"da7b91925b0f9fbc","name":"Finished","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"done","output":"str","x":1440,"y":220,"wires":[["e9c3976607445206","600fa05cae9d585e"]]},{"id":"35a3dceb6a689460","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":100,"wires":[["d98f21badb97f20a"]]},{"id":"e9c3976607445206","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":1670,"y":180,"wires":[["35a3dceb6a689460","e6282bd86e19b4c9","bb7ac10437bebb1c","d5ae9602f1561d69"]]},{"id":"d98f21badb97f20a","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_3_i04","topic":"","x":1670,"y":100,"wires":[["35a3dceb6a689460","e6282bd86e19b4c9","d5ae9602f1561d69"]]},{"id":"69bcb59630a4f3e6","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":320,"wires":[["55cfd78672452be3"]]},{"id":"d2df29b03418d41a","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":380,"wires":[["32b5dd974940326e"]]},{"id":"fdbb261f2f653b01","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":590,"y":120,"wires":[["58b419f2f52aa49f"]]},{"id":"1b0a199da9ac8145","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":60,"wires":[["0ee2e9a6cb37f4da"]]},{"id":"1e7666113f5aa8e3","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":60,"wires":[["88071423df70013c"]]},{"id":"d5ae9602f1561d69","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":40,"wires":[["e4cefb5157d58a3c"]]},{"id":"71b4df106b9c4cdc","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Front","info":"","x":330,"y":120,"wires":[]},{"id":"c28d03f90b061154","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Down","info":"","x":330,"y":320,"wires":[]},{"id":"b0499d9cfbae1f42","type":"comment","z":"da7b91925b0f9fbc","name":"Station Action","info":"","x":950,"y":180,"wires":[]},{"id":"90b1f8f51d3ee626","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Up","info":"","x":1440,"y":60,"wires":[]},{"id":"b2931773beb2c5f5","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":1950,"y":260,"wires":[]},{"id":"f617c23bda8512ec","type":"template","z":"da7b91925b0f9fbc","name":"Stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":1930,"y":320,"wires":[["35ca2eb04c67eb96"]]},{"id":"35ca2eb04c67eb96","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":2070,"y":320,"wires":[]},{"id":"6f285ac836a1c20e","type":"trigger","z":"da7b91925b0f9fbc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1460,"y":340,"wires":[["7a13dbae06dfd79e"]]},{"id":"600fa05cae9d585e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":1670,"y":260,"wires":[["b2931773beb2c5f5","f617c23bda8512ec","6f285ac836a1c20e","827ff4ba7784a59d"]]},{"id":"7a13dbae06dfd79e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_5_i04","topic":"","x":1670,"y":340,"wires":[["b2931773beb2c5f5","6f285ac836a1c20e","827ff4ba7784a59d"]]},{"id":"827ff4ba7784a59d","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":380,"wires":[["44c15a56200f16c1"]]},{"id":"a4ab3db13900c748","type":"comment","z":"da7b91925b0f9fbc","name":"Move Station Back","info":"","x":1450,"y":380,"wires":[]},{"id":"5b16b3e02a6c8fbe","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":380,"wires":[["599e833422ca4722"]]},{"id":"e4cefb5157d58a3c","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":40,"wires":[["0e4960681bcd36a0"]]},{"id":"44c15a56200f16c1","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":2070,"y":380,"wires":[["0e4960681bcd36a0"]]},{"id":"88071423df70013c","type":"delay","z":"da7b91925b0f9fbc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":60,"wires":[["599e833422ca4722"]]},{"id":"3952e049d9a4d366","type":"function","z":"da7b91925b0f9fbc","name":"Filter","func":"if(msg.payload == 0)\n{\n    msg.payload = \"done\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":380,"wires":[["5b16b3e02a6c8fbe"]]},{"id":"599e833422ca4722","type":"function","z":"da7b91925b0f9fbc","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    msg.payload = 1\n    context.set(\"done\", false)\n    return msg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":980,"y":220,"wires":[["122826f051d74d31","57b9b572294edbd5"]]},{"id":"0e4960681bcd36a0","type":"function","z":"da7b91925b0f9fbc","name":"Wait for two messages","func":"if(context.get(\"done\"))\n{\n    context.set(\"done\", false)\n    var newMsg = flow.get(\"message\")\n    newMsg.payload = \"done\"\n    return newMsg    \n}\n\ncontext.set(\"done\", true)","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"done\", false)","finalize":"","libs":[],"x":2300,"y":220,"wires":[[]]},{"id":"57b9b572294edbd5","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i04","overwritevalue":false,"outputvalue":"","x":1430,"y":180,"wires":[]},{"id":"0ee2e9a6cb37f4da","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":410,"y":60,"wires":[["1b0a199da9ac8145","1e7666113f5aa8e3","d5db2bfeaa16ba21"]]},{"id":"d5db2bfeaa16ba21","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_3_i03","overwritevalue":false,"outputvalue":"","x":610,"y":180,"wires":[]},{"id":"58b419f2f52aa49f","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_4_i03","overwritevalue":false,"outputvalue":"","x":730,"y":120,"wires":[]},{"id":"32b5dd974940326e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":410,"y":380,"wires":[["3952e049d9a4d366","d2df29b03418d41a","40576aadc0726ec6"]]},{"id":"204a10c254acf550","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_7_i04","topic":"","x":170,"y":180,"wires":[["1b0a199da9ac8145","1e7666113f5aa8e3","fdbb261f2f653b01","d5db2bfeaa16ba21"]]},{"id":"78f740257071ad7e","type":"revpi-getpin","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","getoverwritevalue":false,"inputpin":"I_1_i04","topic":"","x":170,"y":260,"wires":[["d2df29b03418d41a","69bcb59630a4f3e6","3952e049d9a4d366","40576aadc0726ec6"]]},{"id":"40576aadc0726ec6","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_2_i03","overwritevalue":false,"outputvalue":"","x":610,"y":260,"wires":[]},{"id":"55cfd78672452be3","type":"revpi-output","z":"da7b91925b0f9fbc","server":"881e060a.9b5288","outputpin":"O_1_i03","overwritevalue":false,"outputvalue":"","x":730,"y":320,"wires":[]},{"id":"34485348ea051596","type":"function","z":"da7b91925b0f9fbc","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":220,"wires":[]},{"id":"881e060a.9b5288","type":"revpi-server","host":"localhost","port":"8000","user":"","password":"","rejectUnauthorized":false,"ca":""}]