Project/node_red/Kit Nodes/Sub_Flow Conveyor Sensors_OLD.json
[
    {
        "id": "c3e705927e16a9c9",
        "type": "subflow",
        "name": "Conveyor_Sensors",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 340,
                "y": 20,
                "wires": [
                    {
                        "id": "ec22f9bd73a62254",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 60,
                "wires": [
                    {
                        "id": "48a45719915bcafc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 100,
                "wires": [
                    {
                        "id": "6b3fecb9c469eef0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 140,
                "wires": [
                    {
                        "id": "7233c7673322425e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ec22f9bd73a62254",
        "type": "revpi-getpin",
        "z": "c3e705927e16a9c9",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_6_i03",
        "topic": "",
        "x": 250,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "66cf01ca8ee48ab2",
        "type": "inject",
        "z": "c3e705927e16a9c9",
        "name": "Conveyor_1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 20,
        "wires": [
            [
                "ec22f9bd73a62254"
            ]
        ]
    },
    {
        "id": "48a45719915bcafc",
        "type": "revpi-getpin",
        "z": "c3e705927e16a9c9",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_4_i03",
        "topic": "",
        "x": 250,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fe0899e95e0877d3",
        "type": "inject",
        "z": "c3e705927e16a9c9",
        "name": "Conveyor_2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "48a45719915bcafc"
            ]
        ]
    },
    {
        "id": "6b3fecb9c469eef0",
        "type": "revpi-getpin",
        "z": "c3e705927e16a9c9",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_2_i03",
        "topic": "",
        "x": 250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "543bac9c3526a82c",
        "type": "inject",
        "z": "c3e705927e16a9c9",
        "name": "Conveyor_3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "6b3fecb9c469eef0"
            ]
        ]
    },
    {
        "id": "7233c7673322425e",
        "type": "revpi-getpin",
        "z": "c3e705927e16a9c9",
        "server": "881e060a.9b5288",
        "getoverwritevalue": false,
        "inputpin": "I_13_i03",
        "topic": "",
        "x": 250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a6f11a9184ed12d1",
        "type": "inject",
        "z": "c3e705927e16a9c9",
        "name": "Conveyor_4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "7233c7673322425e"
            ]
        ]
    },
    {
        "id": "881e060a.9b5288",
        "type": "revpi-server",
        "host": "localhost",
        "port": "8000",
        "user": "",
        "password": "",
        "rejectUnauthorized": false,
        "ca": ""
    }
]