Project/node_red/Kit Nodes/Sub_Flow Conveyor_Controller.json
[{"id":"371d4b125046cd8a","type":"subflow","name":"Conveyor_Controller","info":"This node takes a msg object in the format:\r\n\r\n{\r\n    Destiny: String,\r\n    C1: int,\r\n    C2: int,\r\n    C3: int,\r\n    C4: int\r\n}\r\n\r\nThe value of Destiny corresponds to the conveyor belt where the product needs to stop, i.e. if the product has to stop at the conveyor belt number 3, the value of Destiny will be C3.\r\n\r\nC1 through C4 correspond to the orientation of the conveyors, if the value provided is 1, that conveyor will move to the right, -1 will move it to the left and 0 will stop it.","category":"","in":[{"x":40,"y":220,"wires":[{"id":"3a8ced5897a1c106"},{"id":"0cbc95174347c77c"},{"id":"5d2de5e56425d117"},{"id":"cb543cf270e6be03"},{"id":"58b05208e9327f38"},{"id":"a007e6c0249ea002"}]}],"out":[{"x":950,"y":300,"wires":[{"id":"d33d6192916a0027","port":0}]}],"env":[],"meta":{"author":"David Ferreira <dro.ferreira@fct.unl.pt>"},"color":"#DDAA99"},{"id":"0cbc95174347c77c","type":"function","z":"371d4b125046cd8a","name":"C1","func":"// Right\nif(msg.C1 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C1 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":60,"wires":[["f76dc0e530d3088b"],["c0072354548f23d4"]]},{"id":"5d2de5e56425d117","type":"function","z":"371d4b125046cd8a","name":"C2","func":"// Right\nif(msg.C2 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C2 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":160,"wires":[["6e68ecd2fde1b3ab"],["ecdafeda1c9510f6"]]},{"id":"cb543cf270e6be03","type":"function","z":"371d4b125046cd8a","name":"C3","func":"// Right\nif(msg.C3 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C3 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":280,"wires":[["817a51aedf694889"],["3202cd629be82e56"]]},{"id":"58b05208e9327f38","type":"function","z":"371d4b125046cd8a","name":"C4","func":"// Right\nif(msg.C4 > 0)\n{\n    return [{payload: 1},{payload: 0}]\n}\n// Left\nelse if(msg.C4 < 0)\n{\n    return [{payload: 0}, {payload: 1}]\n}\n// Stop\nelse\n{\n    return [{payload: 0}, {payload: 0}]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":380,"wires":[["f8375e951e9890ff"],["f5f06f4436ed1a4e"]]},{"id":"f76dc0e530d3088b","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":390,"y":40,"wires":[]},{"id":"c0072354548f23d4","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":390,"y":80,"wires":[]},{"id":"817a51aedf694889","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":400,"y":260,"wires":[]},{"id":"3202cd629be82e56","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":400,"y":300,"wires":[]},{"id":"6e68ecd2fde1b3ab","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":400,"y":140,"wires":[]},{"id":"ecdafeda1c9510f6","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":390,"y":180,"wires":[]},{"id":"f8375e951e9890ff","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":400,"y":360,"wires":[]},{"id":"f5f06f4436ed1a4e","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":400,"y":400,"wires":[]},{"id":"3a8ced5897a1c106","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"change","p":"destiny","pt":"msg","from":"C1","fromt":"str","to":"I_6_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C2","fromt":"str","to":"I_4_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C3","fromt":"str","to":"I_2_i03","tot":"str"},{"t":"change","p":"destiny","pt":"msg","from":"C4","fromt":"str","to":"I_13_i03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":500,"wires":[["6356732384d3edcd"]]},{"id":"764152ea5ebcc22a","type":"revpi-multiple-input","z":"371d4b125046cd8a","server":"881e060a.9b5288","inputPinList":"I_2_i03 I_4_i03 I_6_i03 I_13_i03","inputpin":"I_2_i03 I_4_i03 I_6_i03 I_13_i03","topic":"","x":190,"y":560,"wires":[["c9c73273acc783be"]]},{"id":"6356732384d3edcd","type":"function","z":"371d4b125046cd8a","name":"Load Message","func":"// Register Destiny conveyor\nif(\"destiny\" in msg){\n    context.set(\"Destiny\", msg.destiny)\n    context.set(\"Topic\", msg.topic)\n}\n\n// As soon as Destiny conveyor detects an object, stop all\nvar destiny = context.get(\"Destiny\")\n\nif (destiny != undefined){\n    if(msg[destiny] == 1){\n        \n        context.set(\"Destiny\", undefined)\n        var newMsg = flow.get(\"message\")\n        newMsg.payload = 0\n        return newMsg\n    }\n}\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"Destiny\", undefined)","finalize":"","libs":[],"x":540,"y":500,"wires":[["7c4744a940e03ab6","c888628adbb9e48a","032eef176b9cb84d","94a3c560ffcd681a","f0ce6eace798d706","1a93d0f4c3fe90ab","63fc604597f4f3f7","0ab99dca0c961c6f","d33d6192916a0027"]]},{"id":"7c4744a940e03ab6","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_7_i04","overwritevalue":false,"outputvalue":"","x":760,"y":360,"wires":[]},{"id":"c888628adbb9e48a","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_8_i04","overwritevalue":false,"outputvalue":"","x":760,"y":400,"wires":[]},{"id":"f0ce6eace798d706","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_12_i04","overwritevalue":false,"outputvalue":"","x":770,"y":520,"wires":[]},{"id":"1a93d0f4c3fe90ab","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_11_i04","overwritevalue":false,"outputvalue":"","x":770,"y":560,"wires":[]},{"id":"032eef176b9cb84d","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_10_i04","overwritevalue":false,"outputvalue":"","x":770,"y":440,"wires":[]},{"id":"94a3c560ffcd681a","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_9_i04","overwritevalue":false,"outputvalue":"","x":760,"y":480,"wires":[]},{"id":"63fc604597f4f3f7","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_14_i04","overwritevalue":false,"outputvalue":"","x":770,"y":600,"wires":[]},{"id":"0ab99dca0c961c6f","type":"revpi-output","z":"371d4b125046cd8a","server":"881e060a.9b5288","outputpin":"O_13_i04","overwritevalue":false,"outputvalue":"","x":770,"y":640,"wires":[]},{"id":"d33d6192916a0027","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":300,"wires":[[]]},{"id":"c9c73273acc783be","type":"change","z":"371d4b125046cd8a","name":"","rules":[{"t":"move","p":"payload.I_2_i03","pt":"msg","to":"I_2_i03","tot":"msg"},{"t":"move","p":"payload.I_4_i03","pt":"msg","to":"I_4_i03","tot":"msg"},{"t":"move","p":"payload.I_6_i03","pt":"msg","to":"I_6_i03","tot":"msg"},{"t":"move","p":"payload.I_13_i03","pt":"msg","to":"I_13_i03","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["6356732384d3edcd"]]},{"id":"a007e6c0249ea002","type":"function","z":"371d4b125046cd8a","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[]},{"id":"881e060a.9b5288","type":"revpi-server","host":"localhost","port":"8000","user":"","password":"","rejectUnauthorized":false,"ca":""}]