Project/node_red/Simulator Nodes/Conveyor Belt.json
[{"id":"e07793e1b4a429a0","type":"tab","label":"Conveyor Belt","disabled":false,"info":"","env":[]},{"id":"8fce868dd5c3aade","type":"websocket out","z":"e07793e1b4a429a0","name":"","server":"1427a2a157ac5bfd","client":"","x":1040,"y":540,"wires":[]},{"id":"4b8f99de15735f3d","type":"debug","z":"e07793e1b4a429a0","name":"Debug Conveyor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":100,"wires":[]},{"id":"934b175d29904765","type":"websocket in","z":"e07793e1b4a429a0","name":"","server":"1427a2a157ac5bfd","client":"","x":470,"y":100,"wires":[["4b8f99de15735f3d","1f9d3852a868c2a4","7c9ff283a08ae041","f2e5e43973a2ae20"]]},{"id":"c606221aee10f735","type":"join","z":"e07793e1b4a429a0","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"#TOKEN#","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":600,"wires":[["6f515c785e1a9d28","8fce868dd5c3aade"]]},{"id":"8cf7f8b77d5907ec","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Source","payloadType":"str","x":550,"y":500,"wires":[["c606221aee10f735"]]},{"id":"c087a2861681cb46","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C1","payloadType":"str","x":550,"y":540,"wires":[["c606221aee10f735"]]},{"id":"6f515c785e1a9d28","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor Location","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":500,"wires":[]},{"id":"cc0b4e33c2f9d015","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C2","payloadType":"str","x":550,"y":580,"wires":[["c606221aee10f735"]]},{"id":"484422f51fe0ab87","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C3","payloadType":"str","x":550,"y":620,"wires":[["c606221aee10f735"]]},{"id":"c71e843497143d1a","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C4","payloadType":"str","x":550,"y":660,"wires":[["c606221aee10f735"]]},{"id":"7406708316c36da3","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Storage","payloadType":"str","x":550,"y":700,"wires":[["c606221aee10f735"]]},{"id":"d8cf805b2d1583e2","type":"mqtt in","z":"e07793e1b4a429a0","name":"","topic":"conveyor_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":460,"wires":[["8fce868dd5c3aade","6f515c785e1a9d28"]]},{"id":"1f9d3852a868c2a4","type":"mqtt out","z":"e07793e1b4a429a0","name":"","topic":"conveyor_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1000,"y":140,"wires":[]},{"id":"90447ed9e6f95e3e","type":"http in","z":"e07793e1b4a429a0","name":"","url":"/conveyor","method":"post","upload":false,"swaggerDoc":"","x":500,"y":340,"wires":[["7c9ff283a08ae041"]]},{"id":"0c7a7bafd7149f80","type":"http response","z":"e07793e1b4a429a0","name":"","statusCode":"","headers":{},"x":950,"y":240,"wires":[]},{"id":"7c9ff283a08ae041","type":"function","z":"e07793e1b4a429a0","name":"HTTP Processor","func":"if(msg.payload != \"done\")\n{\n    context.set(\"message\", msg)\n    context.set(\"isHttp\", true)\n    return [null, msg.payload]\n}\nelse if(context.get(\"isHttp\"))\n{\n    var newMsg = context.get(\"message\")\n    newMsg.payload = \"done\"\n    return[newMsg, null]\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"isHttp\", false)","finalize":"","libs":[],"x":750,"y":340,"wires":[["0c7a7bafd7149f80"],["8fce868dd5c3aade","6f515c785e1a9d28"]]},{"id":"b06cd63526734600","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"done","payloadType":"str","x":490,"y":140,"wires":[["1f9d3852a868c2a4","4b8f99de15735f3d","7c9ff283a08ae041","f2e5e43973a2ae20"]]},{"id":"5d97f90a087dfb16","type":"OpcUa-Client","z":"e07793e1b4a429a0","endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":460,"y":400,"wires":[["82755a448a6702be"],[]]},{"id":"5310fc4c7d022ff2","type":"inject","z":"e07793e1b4a429a0","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":400,"wires":[["49355035d79c4226"]]},{"id":"49355035d79c4226","type":"OpcUa-Item","z":"e07793e1b4a429a0","item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":310,"y":400,"wires":[["5d97f90a087dfb16"]]},{"id":"f2e5e43973a2ae20","type":"OpcUa-Item","z":"e07793e1b4a429a0","item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":970,"y":200,"wires":[["18bcdbb946f128ee"]]},{"id":"18bcdbb946f128ee","type":"OpcUa-Client","z":"e07793e1b4a429a0","endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1120,"y":200,"wires":[[],[]]},{"id":"82755a448a6702be","type":"function","z":"e07793e1b4a429a0","name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":590,"y":400,"wires":[["8fce868dd5c3aade","6f515c785e1a9d28"]]},{"id":"1427a2a157ac5bfd","type":"websocket-listener","path":"/conveyor","wholemsg":"false"},{"id":"cc503f15afd0d5e0","type":"mqtt-broker","name":"","broker":"192.168.1.207","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3aac6e7284da1818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.207:54840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]