Project/node_red/Simulator Nodes/High Level Sim Controller.json
[{"id":"08d9e6426a6e315c","type":"subflow","name":"Sim_Station4_Controller","info":"","category":"","in":[{"x":220,"y":180,"wires":[{"id":"a7f31a6c8a9a41ae"},{"id":"6e1d01e393867459"},{"id":"29f7216b7eb576fe"}]}],"out":[{"x":1020,"y":180,"wires":[{"id":"d2304aac4c920e43","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6e1d01e393867459","type":"websocket out","z":"08d9e6426a6e315c","name":"","server":"1853c2c7550d9735","client":"","x":360,"y":200,"wires":[]},{"id":"6f965b3207a72294","type":"websocket in","z":"08d9e6426a6e315c","name":"","server":"1853c2c7550d9735","client":"","x":670,"y":180,"wires":[["d2304aac4c920e43"]]},{"id":"a7f31a6c8a9a41ae","type":"function","z":"08d9e6426a6e315c","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[]},{"id":"d2304aac4c920e43","type":"function","z":"08d9e6426a6e315c","name":"Load Message","func":"var payload = msg.payload\n\nmsg = flow.get(\"message\")\nmsg.payload = payload\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[[]]},{"id":"29f7216b7eb576fe","type":"delay","z":"08d9e6426a6e315c","d":true,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":340,"wires":[["77a7a90201c5afa5"]]},{"id":"77a7a90201c5afa5","type":"change","z":"08d9e6426a6e315c","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["d2304aac4c920e43"]]},{"id":"1853c2c7550d9735","type":"websocket-listener","path":"/station_4","wholemsg":"false"},{"id":"796289decfbea9e0","type":"subflow","name":"Sim_Station3_Controller","info":"","category":"","in":[{"x":220,"y":180,"wires":[{"id":"b8b62964d6ebb6d8"},{"id":"7f7ce117c0cd402c"},{"id":"3b97be491b5c236e"}]}],"out":[{"x":1020,"y":180,"wires":[{"id":"1c6f981c62502e3a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"7f7ce117c0cd402c","type":"websocket out","z":"796289decfbea9e0","name":"","server":"64d10790f3c5a8e0","client":"","x":360,"y":200,"wires":[]},{"id":"dac0095f35b9cc2c","type":"websocket in","z":"796289decfbea9e0","name":"","server":"64d10790f3c5a8e0","client":"","x":670,"y":180,"wires":[["1c6f981c62502e3a"]]},{"id":"b8b62964d6ebb6d8","type":"function","z":"796289decfbea9e0","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[]},{"id":"1c6f981c62502e3a","type":"function","z":"796289decfbea9e0","name":"Load Message","func":"var payload = msg.payload\n\nmsg = flow.get(\"message\")\nmsg.payload = payload\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[[]]},{"id":"3b97be491b5c236e","type":"delay","z":"796289decfbea9e0","d":true,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":340,"wires":[["eb0816887b86cd21"]]},{"id":"eb0816887b86cd21","type":"change","z":"796289decfbea9e0","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["1c6f981c62502e3a"]]},{"id":"64d10790f3c5a8e0","type":"websocket-listener","path":"/station_3","wholemsg":"false"},{"id":"6fe5ed33b5c9f066","type":"subflow","name":"Sim_Conveyor_Controller","info":"","category":"","in":[{"x":220,"y":180,"wires":[{"id":"ef80c7a137354fe8"},{"id":"e60e62b53b2be0c0"},{"id":"94191bb2f4144c4e"}]}],"out":[{"x":1020,"y":180,"wires":[{"id":"9e06b05da5af10eb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ef80c7a137354fe8","type":"websocket out","z":"6fe5ed33b5c9f066","name":"","server":"1427a2a157ac5bfd","client":"","x":360,"y":200,"wires":[]},{"id":"b8e80ae4e91608b6","type":"websocket in","z":"6fe5ed33b5c9f066","name":"","server":"1427a2a157ac5bfd","client":"","x":670,"y":180,"wires":[["9e06b05da5af10eb"]]},{"id":"e60e62b53b2be0c0","type":"function","z":"6fe5ed33b5c9f066","name":"Save Message","func":"flow.set(\"message\", msg)","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[]},{"id":"9e06b05da5af10eb","type":"function","z":"6fe5ed33b5c9f066","name":"Load Message","func":"var payload = msg.payload\n\nmsg = flow.get(\"message\")\nmsg.payload = payload\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[[]]},{"id":"94191bb2f4144c4e","type":"delay","z":"6fe5ed33b5c9f066","d":true,"name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":340,"wires":[["ce0a6cfedaa2dc9b"]]},{"id":"ce0a6cfedaa2dc9b","type":"change","z":"6fe5ed33b5c9f066","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[["9e06b05da5af10eb"]]},{"id":"1427a2a157ac5bfd","type":"websocket-listener","path":"/conveyor","wholemsg":"false"},{"id":"e07793e1b4a429a0","type":"tab","label":"High Level Sim Controller","disabled":false,"info":"","env":[]},{"id":"4b8f99de15735f3d","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":300,"wires":[]},{"id":"c606221aee10f735","type":"join","z":"e07793e1b4a429a0","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"#TOKEN#","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":360,"wires":[["63744e6fedd4b571"]]},{"id":"8cf7f8b77d5907ec","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Source","payloadType":"str","x":310,"y":260,"wires":[["c606221aee10f735"]]},{"id":"c087a2861681cb46","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C1","payloadType":"str","x":310,"y":300,"wires":[["c606221aee10f735"]]},{"id":"6f515c785e1a9d28","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":280,"wires":[]},{"id":"cc0b4e33c2f9d015","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C2","payloadType":"str","x":310,"y":340,"wires":[["c606221aee10f735"]]},{"id":"484422f51fe0ab87","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C3","payloadType":"str","x":310,"y":380,"wires":[["c606221aee10f735"]]},{"id":"c71e843497143d1a","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C4","payloadType":"str","x":310,"y":420,"wires":[["c606221aee10f735"]]},{"id":"7406708316c36da3","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Storage","payloadType":"str","x":310,"y":460,"wires":[["c606221aee10f735"]]},{"id":"d8cf805b2d1583e2","type":"mqtt in","z":"e07793e1b4a429a0","name":"","topic":"conveyor_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":60,"wires":[["06492452a91dc681"]]},{"id":"1f9d3852a868c2a4","type":"mqtt out","z":"e07793e1b4a429a0","name":"","topic":"conveyor_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1580,"y":300,"wires":[]},{"id":"5d97f90a087dfb16","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":180,"wires":[["82755a448a6702be"],[]]},{"id":"5310fc4c7d022ff2","type":"inject","z":"e07793e1b4a429a0","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["49355035d79c4226"]]},{"id":"49355035d79c4226","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":220,"y":180,"wires":[["5d97f90a087dfb16"]]},{"id":"f2e5e43973a2ae20","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Conveyor","datatype":"String","value":"","name":"","x":1550,"y":420,"wires":[["18bcdbb946f128ee"]]},{"id":"18bcdbb946f128ee","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1700,"y":420,"wires":[[],[]]},{"id":"82755a448a6702be","type":"function","z":"e07793e1b4a429a0","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":180,"wires":[["e9954924d83f5029"]]},{"id":"dd2af793b72c732d","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_A","payloadType":"str","x":310,"y":760,"wires":[["91254cef2c8250d6"]]},{"id":"0d62187d31514a06","type":"mqtt in","z":"e07793e1b4a429a0","name":"","topic":"station_3_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":560,"wires":[["0ad1cca0f999a030"]]},{"id":"c25afa2e056ce38a","type":"http in","z":"e07793e1b4a429a0","name":"","url":"/station_3","method":"post","upload":false,"swaggerDoc":"","x":240,"y":620,"wires":[["f7d7a3e0cf416cc1"]]},{"id":"15d0c7286e40d7e1","type":"debug","z":"e07793e1b4a429a0","name":"Station 3 Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":680,"wires":[]},{"id":"11ac34e81d624adb","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":680,"wires":[["92217b029923a8c3"],[]]},{"id":"4e74e175b880b50a","type":"inject","z":"e07793e1b4a429a0","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":680,"wires":[["5ab102f4e0a42f06"]]},{"id":"5ab102f4e0a42f06","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":220,"y":680,"wires":[["11ac34e81d624adb"]]},{"id":"92217b029923a8c3","type":"function","z":"e07793e1b4a429a0","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":680,"wires":[["e7d19408f6708070"]]},{"id":"724b032c4242d708","type":"http in","z":"e07793e1b4a429a0","name":"","url":"/conveyor","method":"post","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["d6831348a06e011c"]]},{"id":"7751225aadb9b10c","type":"http response","z":"e07793e1b4a429a0","name":"","statusCode":"","headers":{},"x":1530,"y":360,"wires":[]},{"id":"85b158a9aaac1a63","type":"subflow:6fe5ed33b5c9f066","z":"e07793e1b4a429a0","name":"","x":970,"y":360,"wires":[["4b8f99de15735f3d","4333690f7abb9dbc"]]},{"id":"4333690f7abb9dbc","type":"switch","z":"e07793e1b4a429a0","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":360,"wires":[["1f9d3852a868c2a4","3d60b784253105f7"],["7751225aadb9b10c","a3b38bd3efbdda26"],["f2e5e43973a2ae20","3d4e0a4fd2410267"]]},{"id":"63744e6fedd4b571","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":360,"wires":[["85b158a9aaac1a63","6f515c785e1a9d28"]]},{"id":"06492452a91dc681","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":60,"wires":[["6f515c785e1a9d28","85b158a9aaac1a63"]]},{"id":"7953fefce1766f71","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["6f515c785e1a9d28","85b158a9aaac1a63"]]},{"id":"3d60b784253105f7","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":260,"wires":[]},{"id":"a3b38bd3efbdda26","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":360,"wires":[]},{"id":"3d4e0a4fd2410267","type":"debug","z":"e07793e1b4a429a0","name":"Conveyor OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":460,"wires":[]},{"id":"91254cef2c8250d6","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["79a1102c37dcc341"]]},{"id":"79a1102c37dcc341","type":"subflow:796289decfbea9e0","z":"e07793e1b4a429a0","name":"","x":990,"y":760,"wires":[["626039c76bad7384","1d3c897fe1a88c4a"]]},{"id":"1d3c897fe1a88c4a","type":"debug","z":"e07793e1b4a429a0","name":"Station 3 Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":700,"wires":[]},{"id":"c4d42fa35afeeb13","type":"mqtt out","z":"e07793e1b4a429a0","name":"","topic":"station_3_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1580,"y":700,"wires":[]},{"id":"c8bce14d7552a927","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":1550,"y":820,"wires":[["3cafd5e3f032484f"]]},{"id":"3cafd5e3f032484f","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1700,"y":820,"wires":[[],[]]},{"id":"071872988ee9d077","type":"http response","z":"e07793e1b4a429a0","name":"","statusCode":"","headers":{},"x":1530,"y":760,"wires":[]},{"id":"626039c76bad7384","type":"switch","z":"e07793e1b4a429a0","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":760,"wires":[["c4d42fa35afeeb13","6bc664e6b6a86559"],["071872988ee9d077","49de73b5687c8058"],["c8bce14d7552a927","2c1653bae11317b4"]]},{"id":"6bc664e6b6a86559","type":"debug","z":"e07793e1b4a429a0","name":"Station 3 MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":660,"wires":[]},{"id":"49de73b5687c8058","type":"debug","z":"e07793e1b4a429a0","name":"Station 3 HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":760,"wires":[]},{"id":"2c1653bae11317b4","type":"debug","z":"e07793e1b4a429a0","name":"Station 3 OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":860,"wires":[]},{"id":"e9954924d83f5029","type":"change","z":"e07793e1b4a429a0","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["6f515c785e1a9d28","85b158a9aaac1a63"]]},{"id":"e7d19408f6708070","type":"change","z":"e07793e1b4a429a0","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["15d0c7286e40d7e1","79a1102c37dcc341"]]},{"id":"0ad1cca0f999a030","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["15d0c7286e40d7e1","79a1102c37dcc341"]]},{"id":"c107d209a91769b0","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":620,"wires":[["15d0c7286e40d7e1","79a1102c37dcc341"]]},{"id":"7b843645795483eb","type":"mqtt in","z":"e07793e1b4a429a0","name":"","topic":"station_4_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":940,"wires":[["22df852b58a05069"]]},{"id":"eee365ada46908ed","type":"http in","z":"e07793e1b4a429a0","name":"","url":"/station_4","method":"post","upload":false,"swaggerDoc":"","x":240,"y":1000,"wires":[["55a308caca21a06e"]]},{"id":"9af70d93c5bc5c9c","type":"debug","z":"e07793e1b4a429a0","name":"Station 4 Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":1060,"wires":[]},{"id":"0f1c46ec17182fef","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":380,"y":1060,"wires":[["6f0f5ea258a69b1e"],[]]},{"id":"e96d27fbb26e0793","type":"inject","z":"e07793e1b4a429a0","d":true,"name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1060,"wires":[["be0d4fc3529f04fe"]]},{"id":"be0d4fc3529f04fe","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":220,"y":1060,"wires":[["0f1c46ec17182fef"]]},{"id":"6f0f5ea258a69b1e","type":"function","z":"e07793e1b4a429a0","d":true,"name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":510,"y":1060,"wires":[["947c7ed43632968a"]]},{"id":"08b85d31ac15fe40","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1140,"wires":[["72bed4a50f37db2e"]]},{"id":"83f41089bde5e170","type":"debug","z":"e07793e1b4a429a0","name":"Station 4 Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":1080,"wires":[]},{"id":"3f90805f2d8c59af","type":"mqtt out","z":"e07793e1b4a429a0","name":"","topic":"station_4_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1580,"y":1080,"wires":[]},{"id":"1dcb3b137a9a2ed2","type":"OpcUa-Item","z":"e07793e1b4a429a0","d":true,"item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":1550,"y":1200,"wires":[["cff40e71b0f30c40"]]},{"id":"cff40e71b0f30c40","type":"OpcUa-Client","z":"e07793e1b4a429a0","d":true,"endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1700,"y":1200,"wires":[[],[]]},{"id":"3b796c911ee6274b","type":"http response","z":"e07793e1b4a429a0","name":"","statusCode":"","headers":{},"x":1530,"y":1140,"wires":[]},{"id":"3cbd8c9bb208bdb1","type":"switch","z":"e07793e1b4a429a0","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"http","vt":"str"},{"t":"eq","v":"opcua","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":1140,"wires":[["3f90805f2d8c59af","e7ae48105bface07"],["3b796c911ee6274b","f868f649329dddae"],["1dcb3b137a9a2ed2","8ff1d3f301b75caf"]]},{"id":"e7ae48105bface07","type":"debug","z":"e07793e1b4a429a0","name":"Station 4 MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":1040,"wires":[]},{"id":"f868f649329dddae","type":"debug","z":"e07793e1b4a429a0","name":"Station 4 HTTP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":1140,"wires":[]},{"id":"8ff1d3f301b75caf","type":"debug","z":"e07793e1b4a429a0","name":"Station 4 OPCUA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":1240,"wires":[]},{"id":"947c7ed43632968a","type":"change","z":"e07793e1b4a429a0","d":true,"name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"opcua","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1060,"wires":[["9af70d93c5bc5c9c","72bed4a50f37db2e"]]},{"id":"22df852b58a05069","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mqtt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":940,"wires":[["9af70d93c5bc5c9c","72bed4a50f37db2e"]]},{"id":"e657e25496f8150f","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1000,"wires":[["9af70d93c5bc5c9c","72bed4a50f37db2e"]]},{"id":"72bed4a50f37db2e","type":"subflow:08d9e6426a6e315c","z":"e07793e1b4a429a0","name":"","x":1010,"y":1140,"wires":[["83f41089bde5e170","3cbd8c9bb208bdb1"]]},{"id":"5e05acafd5f50b22","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_B","payloadType":"str","x":310,"y":1140,"wires":[["08b85d31ac15fe40"]]},{"id":"27c7f17c4dab789a","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":420,"wires":[["4333690f7abb9dbc"]]},{"id":"c5902607e8ea6b00","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":460,"wires":[["4333690f7abb9dbc"]]},{"id":"1eaab5b2bab5ce6c","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":820,"wires":[["626039c76bad7384"]]},{"id":"da5922701ce83d6f","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":860,"wires":[["626039c76bad7384"]]},{"id":"279fcfbfd7030d71","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"mqtt","payload":"done","payloadType":"str","x":1140,"y":1200,"wires":[["3cbd8c9bb208bdb1"]]},{"id":"56d1cd7560789b5b","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"http","payload":"done","payloadType":"str","x":1140,"y":1240,"wires":[["3cbd8c9bb208bdb1"]]},{"id":"d6831348a06e011c","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["7953fefce1766f71"]]},{"id":"f7d7a3e0cf416cc1","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["c107d209a91769b0"]]},{"id":"55a308caca21a06e","type":"change","z":"e07793e1b4a429a0","name":"","rules":[{"t":"move","p":"payload.payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1000,"wires":[["e657e25496f8150f"]]},{"id":"8411c87ddf8f63f0","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":500,"wires":[["4333690f7abb9dbc"]]},{"id":"b95e44e17f99c12c","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":900,"wires":[["626039c76bad7384"]]},{"id":"9377ce71ad887b56","type":"inject","z":"e07793e1b4a429a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"opcua","payload":"done","payloadType":"str","x":1130,"y":1280,"wires":[["3cbd8c9bb208bdb1"]]},{"id":"cc503f15afd0d5e0","type":"mqtt-broker","name":"","broker":"192.168.1.207","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3aac6e7284da1818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.207:54840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]