Project/node_red/Simulator Nodes/Station 3.json
[{"id":"17c6557ce9f653ac","type":"tab","label":"Station 3","disabled":false,"info":"","env":[]},{"id":"177835792a6bf773","type":"websocket in","z":"17c6557ce9f653ac","name":"","server":"64d10790f3c5a8e0","client":"","x":590,"y":80,"wires":[["21d450f7ed7d91d1","0ee17f29c4b3bbd1","7a52efba13489030","6c1ce332e048f5ed"]]},{"id":"21d450f7ed7d91d1","type":"debug","z":"17c6557ce9f653ac","name":"Debug Station 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":80,"wires":[]},{"id":"13fca85c34c12aae","type":"websocket out","z":"17c6557ce9f653ac","name":"","server":"64d10790f3c5a8e0","client":"","x":1100,"y":420,"wires":[]},{"id":"09a85aa969f1b51e","type":"inject","z":"17c6557ce9f653ac","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_A","payloadType":"str","x":630,"y":420,"wires":[["13fca85c34c12aae","e7c2b08b32d2fb78"]]},{"id":"f73596f4d6ed1853","type":"mqtt in","z":"17c6557ce9f653ac","name":"","topic":"station_3_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":380,"wires":[["13fca85c34c12aae","e7c2b08b32d2fb78"]]},{"id":"0ee17f29c4b3bbd1","type":"mqtt out","z":"17c6557ce9f653ac","name":"","topic":"station_3_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1120,"y":120,"wires":[]},{"id":"c599df943980dc06","type":"http in","z":"17c6557ce9f653ac","name":"","url":"/station_3","method":"post","upload":false,"swaggerDoc":"","x":600,"y":300,"wires":[["7a52efba13489030"]]},{"id":"7a52efba13489030","type":"function","z":"17c6557ce9f653ac","name":"HTTP Processor","func":"if(msg.payload != \"done\")\n{\n    context.set(\"message\", msg)\n    context.set(\"isHttp\", true)\n    return [null, msg.payload]\n}\nelse if(context.get(\"isHttp\"))\n{\n    var newMsg = context.get(\"message\")\n    newMsg.payload = \"done\"\n    return[newMsg, null]\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"isHttp\", false)","finalize":"","libs":[],"x":830,"y":300,"wires":[["f71723051a02a986"],["13fca85c34c12aae","e7c2b08b32d2fb78"]]},{"id":"f71723051a02a986","type":"http response","z":"17c6557ce9f653ac","name":"","statusCode":"","headers":{},"x":1070,"y":220,"wires":[]},{"id":"e7c2b08b32d2fb78","type":"debug","z":"17c6557ce9f653ac","name":"Station3 Skill","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":380,"wires":[]},{"id":"b1e3dba93921dd35","type":"inject","z":"17c6557ce9f653ac","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"done","payloadType":"str","x":610,"y":120,"wires":[["21d450f7ed7d91d1","0ee17f29c4b3bbd1","7a52efba13489030","6c1ce332e048f5ed"]]},{"id":"747d3a2745402ae0","type":"OpcUa-Client","z":"17c6557ce9f653ac","endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":480,"y":340,"wires":[["9c7ad4d508f368b5"],[]]},{"id":"a8ec15ee80aa8e97","type":"inject","z":"17c6557ce9f653ac","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":340,"wires":[["d9d6bf8467a17307"]]},{"id":"d9d6bf8467a17307","type":"OpcUa-Item","z":"17c6557ce9f653ac","item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":330,"y":340,"wires":[["747d3a2745402ae0"]]},{"id":"9c7ad4d508f368b5","type":"function","z":"17c6557ce9f653ac","name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":610,"y":340,"wires":[["e7c2b08b32d2fb78","13fca85c34c12aae"]]},{"id":"6c1ce332e048f5ed","type":"OpcUa-Item","z":"17c6557ce9f653ac","item":"ns=1;s=Station3","datatype":"String","value":"","name":"","x":1090,"y":160,"wires":[["95ef802b809b463a"]]},{"id":"95ef802b809b463a","type":"OpcUa-Client","z":"17c6557ce9f653ac","endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1240,"y":160,"wires":[[],[]]},{"id":"64d10790f3c5a8e0","type":"websocket-listener","path":"/station_3","wholemsg":"false"},{"id":"cc503f15afd0d5e0","type":"mqtt-broker","name":"","broker":"192.168.1.207","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3aac6e7284da1818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.207:54840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]