Project/node_red/Simulator Nodes/Station 4.json
[{"id":"13c138bafce6b4ae","type":"tab","label":"Station 4","disabled":false,"info":"","env":[]},{"id":"02c9e1d0ad196366","type":"websocket in","z":"13c138bafce6b4ae","name":"","server":"1853c2c7550d9735","client":"","x":630,"y":220,"wires":[["a95fff3bb13953bc","90876e154ec60790","2f61062b1ab1a8d4","26b86c95fb054b2e"]]},{"id":"a95fff3bb13953bc","type":"debug","z":"13c138bafce6b4ae","name":"Debug Station 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":220,"wires":[]},{"id":"38401b0f2047524d","type":"websocket out","z":"13c138bafce6b4ae","name":"","server":"1853c2c7550d9735","client":"","x":1140,"y":540,"wires":[]},{"id":"79524f130ebb633f","type":"inject","z":"13c138bafce6b4ae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Skill_B","payloadType":"str","x":670,"y":540,"wires":[["38401b0f2047524d","66c6b9783d1efbf6"]]},{"id":"3360fc12e3d69909","type":"mqtt in","z":"13c138bafce6b4ae","name":"","topic":"station_4_request","qos":"2","datatype":"auto-detect","broker":"cc503f15afd0d5e0","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":500,"wires":[["38401b0f2047524d","66c6b9783d1efbf6"]]},{"id":"90876e154ec60790","type":"mqtt out","z":"13c138bafce6b4ae","name":"","topic":"station_4_response","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cc503f15afd0d5e0","x":1120,"y":260,"wires":[]},{"id":"2f61062b1ab1a8d4","type":"function","z":"13c138bafce6b4ae","name":"HTTP Processor","func":"if(msg.payload != \"done\")\n{\n    context.set(\"message\", msg)\n    context.set(\"isHttp\", true)\n    return [null, msg.payload]\n}\nelse if(context.get(\"isHttp\"))\n{\n    var newMsg = context.get(\"message\")\n    newMsg.payload = \"done\"\n    return[newMsg, null]\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"isHttp\", false)","finalize":"","libs":[],"x":850,"y":420,"wires":[["858534a46c0bd34f"],["38401b0f2047524d","66c6b9783d1efbf6"]]},{"id":"43402e10027b61f9","type":"http in","z":"13c138bafce6b4ae","name":"","url":"/station_4","method":"post","upload":false,"swaggerDoc":"","x":640,"y":420,"wires":[["2f61062b1ab1a8d4"]]},{"id":"858534a46c0bd34f","type":"http response","z":"13c138bafce6b4ae","name":"","statusCode":"","headers":{},"x":1070,"y":380,"wires":[]},{"id":"66c6b9783d1efbf6","type":"debug","z":"13c138bafce6b4ae","name":"Station4 Skill","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":500,"wires":[]},{"id":"e4899c54eb8bc8ec","type":"inject","z":"13c138bafce6b4ae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"done","payloadType":"str","x":650,"y":260,"wires":[["2f61062b1ab1a8d4","90876e154ec60790","a95fff3bb13953bc","26b86c95fb054b2e"]]},{"id":"2b314718994e2b31","type":"OpcUa-Client","z":"13c138bafce6b4ae","endpoint":"3aac6e7284da1818","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"500","timeUnit":"ms","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":540,"y":460,"wires":[["fdb3217ab6d2e3b4"],[]]},{"id":"dc51fa8d85e6fe06","type":"inject","z":"13c138bafce6b4ae","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":460,"wires":[["371fe5d098646cf8"]]},{"id":"371fe5d098646cf8","type":"OpcUa-Item","z":"13c138bafce6b4ae","item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":390,"y":460,"wires":[["2b314718994e2b31"]]},{"id":"fdb3217ab6d2e3b4","type":"function","z":"13c138bafce6b4ae","name":"Filter","func":"if(!context.get(\"hasBlocked\")){\n    context.set(\"hasBlocked\", true)\n    return null\n}\nelse if(msg.payload != \"done\"){\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"hasBlocked\", false)","finalize":"","libs":[],"x":670,"y":460,"wires":[["66c6b9783d1efbf6","38401b0f2047524d"]]},{"id":"26b86c95fb054b2e","type":"OpcUa-Item","z":"13c138bafce6b4ae","item":"ns=1;s=Station4","datatype":"String","value":"","name":"","x":1090,"y":300,"wires":[["a7905438f1e6bee5"]]},{"id":"a7905438f1e6bee5","type":"OpcUa-Client","z":"13c138bafce6b4ae","endpoint":"3aac6e7284da1818","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","useTransport":false,"maxChunkCount":1,"maxMessageSize":8192,"receiveBufferSize":8192,"sendBufferSize":8192,"name":"","x":1240,"y":300,"wires":[[],[]]},{"id":"1853c2c7550d9735","type":"websocket-listener","path":"/station_4","wholemsg":"false"},{"id":"cc503f15afd0d5e0","type":"mqtt-broker","name":"","broker":"192.168.1.207","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3aac6e7284da1818","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.207:54840","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]